/*body{*/
/*    --sidebar-width: 19.0rem;*/
/*}*/

.custom-file-upload{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.card {
    --bs-card-spacer-y: 0.3rem;
}

.table-md > :not(caption) > * > * {
    padding: 0.4rem 0.5rem;
}


.item-name{
    font-size: 13px;
}


.table {
    --bs-table-color: #000000;
    --bs-table-bg: transparent;
    --bs-table-border-color: #eee;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #000000;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.03);
    --bs-table-active-color: #8A92A6;
    --bs-table-active-bg: rgba(138, 146, 166, 0.1);
    --bs-table-hover-color: #8A92A6;
    --bs-table-hover-bg: rgba(138, 146, 166, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: center;
    border-color: var(--bs-table-border-color);
}

.text-bg-success-toast {
    color: #ffffff !important;
    background-color: RGBA(26, 160, 83, var(--bs-bg-opacity, 0.8)) !important;
}
.text-bg-warning-toast {
    color: #ffffff !important;
    background-color: RGBA(241, 106, 27, var(--bs-bg-opacity, 0.8)) !important;
}


.link-row tbody tr {
    cursor: pointer;
}

.btn.disabled{
    border-color: transparent;
}