<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<head>
    <title th:text="#{rate.breadcrumb.rates}"></title>
</head>

<th:block layout:fragment="content">

    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title"  id="breadcrumb-title" th:text="#{rate.breadcrumb.rates}"></h4>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb"  id="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page"><a class="text-color" th:href="@{/}" th:text="#{global.breadcrumb.main}"></a></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="#{rate.breadcrumb.rates}"></li>
                    </ol>
                </nav>
            </div>
            <div class="card-body px-0">
            </div>
        </div>
    </div>

    <div class="col-12 text-end" style="padding-bottom: 30px">
        <a th:href="@{/rates/add}" type="button" class="btn btn-success" th:text="#{rate.button.add}"></a>
    </div>

    <div class="col-sm-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered link-row" id="rate-table"
                       style="max-width: 100%">
                    <thead>
                    <tr>
                        <th class="col-3" th:text="#{rate.name}"></th>
                        <th th:text="#{rate.description}"></th>
                        <th class="col-3" th:text="#{rate.update_at}"></th>
                        <th class="col-1"></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row" style="display: flex; justify-content: space-between">
                </div>
            </div>
        </div>
    </div>

</th:block>

<!-- Extra Modals -->
<th:block layout:fragment="extra-modals">

    <!-- put extra modals here for only this page -->

</th:block>

<th:block layout:fragment="extra-script">

    <script>

        let rateId;
        let rateRequest ={};
        rateRequest.pageIndex = 0;

        $(document).ready(function () {
            getAllRates();
            $(document.body).on("click", "tr", function (e) {
                if (!($(e.target).attr("data-actions") === "data-actions") && !$(e.target).is("svg") && !$(e.target).is("a") && !$(e.target).is("path")) {
                    const href = $(this).data('href');
                    if (href) {
                        window.location.href = href;
                    }
                }
            });


        });

        $(document).on('click', '.text-danger', function () {
            rateId = $(this).data('id');
            $('#confirmDelete').modal('show');
        });

        function getAllRates() {
            $.ajax({
                method: "POST",
                url: "/myhouse24-amirb-nikitaf/admin/rates/get-all-rates",
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(rateRequest)
            }).done(function (rateResponse) {
                console.info(rateResponse)
                const TABLE_BODY = createTable('#rate-table', rateResponse?.totalElements, rateResponse?.totalPages , rateRequest?.pageIndex);
                $.each(rateResponse?.content, function (index, rate) {
                    const $copy = '<a class="btn btn-sm btn-icon text-gray" data-bs-toggle="tooltip" href="/myhouse24-amirb-nikitaf/admin/rates/add-copy-' + rate.id + '" aria-label="Documents" data-bs-original-title="Documents">\n' +
                        '                        <span class="btn-inner">\n' +
                        '                            <svg class="icon-20" width="15" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M320 464c8.8 0 16-7.2 16-16V160H256c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320zM0 64C0 28.7 28.7 0 64 0H229.5c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64z"/></svg>\n' +
                        '                        </span>\n' +
                        '                    </a>';
                    const $edit = '<a class="btn btn-sm btn-icon text-primary flex-end" data-bs-toggle="tooltip" href="/myhouse24-amirb-nikitaf/admin/rates/update-' + rate.id + '" aria-label="Edit User" data-bs-original-title="Edit User">' +
                        '<span class="btn-inner">' +
                        '<svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">' +
                        '<path d="M11.4925 2.78906H7.75349C4.67849 2.78906 2.75049 4.96606 2.75049 8.04806V16.3621C2.75049 19.4441 4.66949 21.6211 7.75349 21.6211H16.5775C19.6625 21.6211 21.5815 19.4441 21.5815 16.3621V12.3341" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>' +
                        '<path fill-rule="evenodd" clip-rule="evenodd" d="M8.82812 10.921L16.3011 3.44799C17.2321 2.51799 18.7411 2.51799 19.6721 3.44799L20.8891 4.66499C21.8201 5.59599 21.8201 7.10599 20.8891 8.03599L13.3801 15.545C12.9731 15.952 12.4211 16.181 11.8451 16.181H8.09912L8.19312 12.401C8.20712 11.845 8.43412 11.315 8.82812 10.921Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>' +
                        '<path d="M15.1655 4.60254L19.7315 9.16854" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>' +
                        '</svg>' +
                        '</span>' +
                        '</a>'
                    const $deleteBtn = '<a class="btn btn-sm btn-icon text-danger" type="button" data-bs-toggle="tooltip" aria-label="Delete Staff" data-bs-original-title="Delete Staff" data-toggle="modal" data-target="#confirmDelete" data-id="' + rate.id + '">' +
                        '<span class="btn-inner">' +
                        '<svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">' +
                        '<path d="M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>' +
                        '<path d="M20.708 6.23975H3.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>' +
                        '<path d="M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>' +
                        ' </svg>' +
                        '</span>' +
                        '</a>';
                    $(TABLE_BODY).append(
                        '<tr  data-href="/myhouse24-amirb-nikitaf/admin/rates/card-' + rate.id + '" data-key="' + rate.id + '">' +
                        '    <td>' + rate?.name + '</td>' +
                        '    <td class="text-truncate" style="max-width: 400px">' + rate?.description + '</td>' +
                        '    <td>' + rate?.date + '</td>' +
                        '    <td data-actions="data-actions">' + $copy + $edit + $deleteBtn + '</td>' +
                        '</tr>'
                    );
                });
            });

            function createTable(tableSelector, itemsCount, pagesCount, pageIndex) {
                const TABLE_DIV = $(tableSelector);
                const TABLE_HEAD = $(TABLE_DIV).find('thead');
                const TABLE_BODY = $(TABLE_DIV).find('tbody');
                const TABLE_COLUMNS_COUNT = $(TABLE_HEAD).find('th').length;
                const TABLE_PAGINATION_ROW = $(TABLE_DIV).parents('div.card').find('div.card-footer').find('div.row');

                $(TABLE_BODY).empty();
                $(TABLE_PAGINATION_ROW).empty();
                if (itemsCount <= 0) {
                    $(TABLE_DIV).parents('div.card').find('div.card-footer').attr('hidden', true);
                    $(TABLE_BODY).append(
                        '<tr>' +
                        '    <td colspan="' + TABLE_COLUMNS_COUNT + '" class="align-middle text-center no-data">' +
                        '[[#{table.empty}]]' +
                        '    </td>' +
                        '</tr>'
                    );
                }else {
                    $(TABLE_DIV).parents('div.card').find('div.card-footer').attr('hidden', false);
                    createPagination(pagesCount, pageIndex, TABLE_PAGINATION_ROW, itemsCount);
                }

                return TABLE_BODY;
            }
        }

        $(document).on('click', 'a.page-link', function () {
            const pageBtn = $(this);
            if ($(pageBtn).parent('li.page-item').hasClass('prev')) {
                rateRequest.pageIndex = --rateRequest.pageIndex;
            } else if ($(pageBtn).parent('li.page-item').hasClass('next')) {
                rateRequest.pageIndex = ++rateRequest.pageIndex;
            } else {
                rateRequest.pageIndex = Number($(pageBtn).text()) - 1;
            }
            getAllRates();
        });

        function deleteEntity() {
            $.ajax({
                method: "DELETE",
                url: "/myhouse24-amirb-nikitaf/admin/rates/delete-rate/" + rateId,
                contentType: 'application/json'
            }).done(function () {
                $('#confirmDelete').modal('hide');
                rateId = undefined;
                getAllRates();
                showToast('success');
            }).fail(function (response) {
                console.log(response);
                $('#confirmDelete').modal('hide');
                $('#custom-toast').text(response?.responseJSON?.message);
                showToast('custom');
                rateId = undefined;
            })
        }
    </script>

</th:block>

</html>
