<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<head>
    <title>Template</title>
</head>

<th:block layout:fragment="content">

    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title" th:text="#{service.breadcrumb.service_edit}"></h4>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page" th:text="#{global.breadcrumb.main}"></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="#{service.breadcrumb.service}"></li>
                    </ol>
                </nav>
            </div>
            <div class="card-body px-0">
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="card">

            <div class="card-header d-flex justify-content-between py-3">
                <nav class="col border-bottom">
                    <div class="nav nav-tabs mb-2" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-service-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-service" type="button" role="tab" aria-controls="nav-service"
                                aria-selected="true" th:text="#{service.breadcrumb.service}">
                        </button>
                        <button class="nav-link" id="nav-unit-tab" data-bs-toggle="tab" data-bs-target="#nav-unit"
                                type="button" role="tab" aria-controls="nav-unit" aria-selected="false" th:text="#{service.tab.unit}">
                        </button>
                    </div>
                </nav>
            </div>
            <div class="card-body">
                <div class="tab-content" id="tabContent">
                    <div class="tab-pane active" id="nav-service" role="tabpanel" aria-labelledby="nav-service-tab"
                         tabindex="0">
                        <div id="service-content">

                        </div>


                        <div class="row pb-3">
                            <div class="col">
                                <button onclick="addEmptyRowService()" type="button" class="btn btn-light" th:text="#{service.button.add}"></button>
                            </div>
                        </div>

                        <div class="col text-end border-top py-3">
                            <button onclick="getAllService()" type="button" class="btn btn-light"
                                    th:text="#{global.button.cancel}"></button>
                            <button onclick="saveService()" type="button" class="btn btn-success"
                                    style="margin-left: 15px; margin-right: 50px" th:text="#{global.button.accept}">
                            </button>
                        </div>
                    </div>
                    <div class="tab-pane" id="nav-unit" role="tabpanel" aria-labelledby="nav-unit-tab" tabindex="1">

                        <div id="unit-content">

                        </div>

                        <div class="row pb-3">
                            <div class="col">
                                <button onclick="addEmptyRowUnit()"  type="button" class="btn btn-light" th:text="#{service.button.add}"></button>
                            </div>
                        </div>

                        <div class="col text-end border-top py-3">
                            <button onclick="getAllUnit()" type="button" class="btn btn-light"
                                    th:text="#{global.button.cancel}"></button>
                            <button onclick="saveUnits()" type="button" class="btn btn-success"
                                    style="margin-left: 15px; margin-right: 50px" th:text="#{global.button.accept}">
                            </button>
                        </div>
                    </div>
                </div>


            </div>

            <div class="card-footer py-0">
            </div>

        </div>
    </div>

</th:block>

<!-- Extra Modals -->
<th:block layout:fragment="extra-modals">

</th:block>

<th:block layout:fragment="extra-script">

    <script>
        let loadUnit = 0;
        let loadService = 0;
        let serviceSelectCount = 0;
        let unitSelectCount = 0;
        let unitId;
        let serviceId;
        let unitRowContent = $('#unit-content');
        let serviceRowContent = $('#service-content');

        $(document).ready(function () {
            getAllUnit();
            getAllService();
        });

        $(document).on('click', '.text-danger.unit', function () {
            unitId = $(this).data('id');
            $('#confirmDelete').modal('show');
        });

        $(document).on('click', '.text-danger.service', function () {
            serviceId = $(this).data('id');
            $('#confirmDelete').modal('show');
        });

        $(document).on('click', '.remove-row', function () {
            $(this).closest('.row').remove();
        });

        function getAllUnit() {
            $.ajax({
                method: "GET",
                url: "/admin/system-service/get-all-unit",
                dataType: 'json'
            }).done(function (unitResponse) {
                unitRowContent.empty();
                $.each(unitResponse, function (index, unit) {
                    unitRowContent.append(addRowUnits(unit));
                    unitSelectCount = unit?.id;
                })
                unitSelectCount++;
                if (loadUnit>0) {
                    showToast('success');
                }
                loadUnit+=1;
            }).fail(function () {
                console.log('fail');
                showToast('error');
            })
        }

        function getAllService() {
            $.ajax({
                method: "GET",
                url: "/admin/system-service/get-all-services",
                dataType: 'json'
            }).done(function (serviceResponse) {
                serviceRowContent.empty();
                $.each(serviceResponse, function (index, service) {
                    serviceRowContent.append(addRowService(service));
                    selectUnit(service?.id,service?.unit);
                    serviceSelectCount = service?.id;
                })
                serviceSelectCount++;
                if (loadService>0) {
                    showToast('success');
                }
                loadService++;
            }).fail(function () {
                console.log('fail');
                showToast('error');
            })
        }

        function addRowUnits(unit) {
            let row = '<div class="row py-2">\n' +
                '                            <div class="col-7">\n' +
                '                                <div class="form-group">\n' +
                '                                    <label for="unit-name-' + unit.id + '" class="form-label">[[#{service.service.unit}]]</label>\n' +
                '                                          <input type="text" class="form-control" id="unit-id-' + unit.id + '" value="' + unit.id + '" hidden>\n' +
                '                                          <div class="input-group" id="unit">\n' +
                '                                          <input type="text" class="form-control" id="unit-name-' + unit.id + '" value="' + unit.name + '">\n' +
                '                                          <button class="btn btn-sm btn-icon text-danger btn-delete unit"\n' +
                '                                             type="button" data-bs-toggle="tooltip" aria-label="Delete Unit" data-toggle="modal" data-target="#confirmDelete" data-id="' + unit.id + '"\n' +
                '                                             data-bs-original-title="Delete Unit">\n' +
                '                                           <span class="btn-inner">\n' +
                '                                            <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none"\n' +
                '                                                 xmlns="http://www.w3.org/2000/svg" stroke="currentColor">\n' +
                '                                                <path d="M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826"\n' +
                '                                                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round"\n' +
                '                                                      stroke-linejoin="round"></path>\n' +
                '                                                <path d="M20.708 6.23975H3.75" stroke="currentColor" stroke-width="1.5"\n' +
                '                                                      stroke-linecap="round" stroke-linejoin="round"></path>\n' +
                '                                                <path d="M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973"\n' +
                '                                                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round"\n' +
                '                                                      stroke-linejoin="round"></path>\n' +
                '                                            </svg>\n' +
                '                                        </span>\n' +
                '                                        </button>\n' +
                '                                    </div>\n' +
                '                                </div>\n' +
                '                            </div>\n' +
                '                        </div>';

            return row;
        }

        function addRowService(service) {

            let row = '<div class="row pb-3">\n' +
                '                            <div class="col-8">\n' +
                '                                <div class="row" id="service-row-' + service.id + '">\n' +
                '                                    <div class="col-6">\n' +
                '                                        <div class="form-group">\n' +
                '                                            <label for="service-name-' + service.id + '" class="form-label">[[#{service.service.title}]]</label>\n' +
                '                                          <input type="text" class="form-control" id="service-id-' + service.id + '" value="' + service.id + '" hidden>\n' +
                '                                            <input type="text" class="form-control" id="service-name-' + service.id + '" value="' + service.name + '">\n' +
                '                                        </div>\n' +
                '                                        <div class="form-check form-check-inline">\n' +
                '                                            <input type="checkbox" class="form-check-input" id="service-check-' + service.id + '" ' + (service.isActiv ? 'checked' : '') + '>\n' +
                '                                            <label class="form-check-label pl-2" for="service-check-' + service.id + '">[[#{service.service.checkbox}]]</label>\n' +
                '                                        </div>\n' +
                '                                    </div>\n' +
                '                                    <div class="col-6">\n' +
                '                                        <div class="form-group">\n' +
                '                                            <label class="form-label">[[#{service.service.unit}]]</label>\n' +
                '                                            <div class="input-group" id="serviceUnit-' + service.id + '">\n' +
                '                                                <select id="service-unit-' + service.id + '" class="form-select" aria-label=".form-select-lg example">\n' +
                '                                                    <option value=""></option>\n' +
                '                                                </select>\n' +
                '                                                <button class="btn btn-sm btn-icon text-danger btn-delete service"\n' +
                '                                                        type="button" data-bs-toggle="tooltip" aria-label="Delete Service" data-toggle="modal" data-target="#confirmDelete" data-id="' + service.id + '" data-bs-original-title="Delete Service">'+
                '                                        <span class="btn-inner">\n' +
                '                                            <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none"\n' +
                '                                                 xmlns="http://www.w3.org/2000/svg" stroke="currentColor">\n' +
                '                                                <path d="M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826"\n' +
                '                                                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round"\n' +
                '                                                      stroke-linejoin="round"></path>\n' +
                '                                                <path d="M20.708 6.23975H3.75" stroke="currentColor" stroke-width="1.5"\n' +
                '                                                      stroke-linecap="round" stroke-linejoin="round"></path>\n' +
                '                                                <path d="M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973"\n' +
                '                                                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round"\n' +
                '                                                      stroke-linejoin="round"></path>\n' +
                '                                            </svg>\n' +
                '                                        </span>\n' +
                '                                                </button>\n' +
                '                                            </div>\n' +
                '                                        </div>\n' +
                '                                    </div>\n' +
                '                                </div>\n' +
                '                            </div>\n' +
                '                        </div>';
            return row;
        }

        function addEmptyRowUnit() {
            let emptyRow = '<div class="row py-2">\n' +
                '    <div class="col-7">\n' +
                '        <div class="form-group">\n' +
                '            <label class="form-label">[[#{service.service.unit}]]</label>\n' +
                '            <div class="input-group" id="unit">\n' +
                '            <input type="text" class="form-control" id="unit-name-' + unitSelectCount + '">\n' +
                '                <button class="btn btn-sm btn-icon text-danger btn-delete remove-row"\n' +
                '                    type="button" aria-label="Remove Row">\n' +
                '                    <span class="btn-inner">\n' +
                '                                            <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none"\n' +
                '                                                 xmlns="http://www.w3.org/2000/svg" stroke="currentColor">\n' +
                '                                                <path d="M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826"\n' +
                '                                                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round"\n' +
                '                                                      stroke-linejoin="round"></path>\n' +
                '                                                <path d="M20.708 6.23975H3.75" stroke="currentColor" stroke-width="1.5"\n' +
                '                                                      stroke-linecap="round" stroke-linejoin="round"></path>\n' +
                '                                                <path d="M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973"\n' +
                '                                                      stroke="currentColor" stroke-width="1.5" stroke-linecap="round"\n' +
                '                                                      stroke-linejoin="round"></path>\n' +
                '                                            </svg>\n' +
                '                                        </span>\n' +
                '                </button>\n' +
                '            </div>\n' +
                '        </div>\n' +
                '    </div>\n' +
                '</div>';

            unitRowContent.append(emptyRow);
            unitSelectCount++;
        }

        function addEmptyRowService() {
            let emptyRow = '<div class="row pb-3">\n' +
                '    <div class="col-8">\n' +
                '        <div class="row">\n' +
                '            <div class="col-6">\n' +
                '                <div class="form-group">\n' +
                '                    <label for="service-name-' + serviceSelectCount + '" class="form-label">[[#{service.service.title}]]</label>\n' +
                '                    <input type="text" class="form-control" id="service-name-' + serviceSelectCount + '">\n' +
                '                </div>\n' +
                '                <div class="form-check form-check-inline">\n' +
                '                    <input type="checkbox" class="form-check-input" id="service-check-' + serviceSelectCount + '">\n' +
                '                    <label class="form-check-label pl-2" for="service-check-' + serviceSelectCount + '">[[#{service.service.checkbox}]]</label>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '            <div class="col-6">\n' +
                '                <div class="form-group">\n' +
                '                    <label class="form-label">[[#{service.service.unit}]]</label>\n' +
                '                    <div class="input-group" id="serviceUnit-' + serviceSelectCount + '">\n' +
                '                        <select id="service-unit-' + serviceSelectCount + '" class="form-select" aria-label=".form-select-lg example">\n' +
                '                            <option value=""></option>\n' +
                '                        </select>\n' +
                '                        <button class="btn btn-sm btn-icon text-danger btn-delete remove-row"\n' +
                '                            data-bs-toggle="tooltip" href="#" aria-label="Delete User"\n' +
                '                            data-bs-original-title="Delete User">\n' +
                '                            <span class="btn-inner">\n' +
                '                                <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none"\n' +
                '                                    xmlns="http://www.w3.org/2000/svg" stroke="currentColor">\n' +
                '                                    <path d="M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826"\n' +
                '                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round"\n' +
                '                                        stroke-linejoin="round"></path>\n' +
                '                                    <path d="M20.708 6.23975H3.75" stroke="currentColor" stroke-width="1.5"\n' +
                '                                        stroke-linecap="round" stroke-linejoin="round"></path>\n' +
                '                                    <path d="M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973"\n' +
                '                                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round"\n' +
                '                                        stroke-linejoin="round"></path>\n' +
                '                                </svg>\n' +
                '                            </span>\n' +
                '                        </button>\n' +
                '                    </div>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '        </div>\n' +
                '    </div>\n' +
                '</div>';

            serviceRowContent.append(emptyRow);
            selectUnit(serviceSelectCount);
            serviceSelectCount++;
        }


        function deleteEntity() {
            $.ajax({
                method: "DELETE",
                url: serviceId ? "/admin/system-service/delete-service/" + serviceId : "/admin/system-service/delete-unit/" + unitId,
                contentType: 'application/json',
                beforeSend : function (){
                    clearValidMessages();
                }
            }).done(function () {
                $('#confirmDelete').modal('hide');
                if (serviceId > 0){
                    getAllService();
                }
                if (unitId > 0){
                    getAllUnit();
                }
                serviceId = undefined;
                unitId = undefined;
                showToast('success');
            }).fail(function (response) {
                console.log(response);
                $('#confirmDelete').modal('hide');
                showToast('error');
                if (unitId){
                    console.log(unitId)
                    if (response) validResponse($('#unit-name-' + unitId), response.responseText, 'div');
                }
                if (serviceId){
                    console.log(serviceId)
                    if (response) validResponse($('#service-row-' + serviceId), response.responseText);
                }
                serviceId = undefined;
                unitId = undefined;
            })
        }


        function collectUnitData() {
            let unitData = [];
            $('.row.py-2').each(function() {
                let id = $(this).find('.form-control[id^="unit-id-"]').val();
                let name = $(this).find('.form-control[id^="unit-name-"]').val();
                unitData.push({
                    id: id || null,
                    name: name || null
                });
            });
            return unitData;
        }

        function collectUnitDataResponse() {
            let unitData = [];
            $('.row.py-2').each(function() {
                let name = $(this).find('.form-control[id^="unit-name-"]');
                unitData.push({
                    name: name || null,
                });
            });
            return unitData;
        }

        function collectServiceData() {
            let unitData = [];
            $('.col-8').each(function() {
                let id = $(this).find('.form-control[id^="service-id-"]').val();
                let name = $(this).find('.form-control[id^="service-name-"]').val();
                let isActiv = $(this).find('.form-check-input[id^="service-check-"]').prop('checked');
                let unit = $(this).find('.form-select[id^="service-unit-"]').val();

                    unitData.push({
                        id: id || null,
                        name: name || null,
                        isActiv: isActiv || false,
                        unitId: unit || null
                    });
            });
            return unitData;
        }

        function collectServiceDataResponse() {
            let unitData = [];
            $('.col-8').each(function() {
                let name = $(this).find('.form-control[id^="service-name-"]');
                let unit = $(this).find('.form-select[id^="service-unit-"]');
                unitData.push({
                    name: name || null,
                    unitId: unit || null
                });
            });
            return unitData;
        }

        function saveUnits() {
            let unitRequestList = collectUnitData();
            let data = {
                unitRequestList: unitRequestList
            };

            $.ajax({
                method: "POST",
                url: "/admin/system-service/save-unit",
                data: JSON.stringify(data),
                contentType: 'application/json',
                beforeSend : function (){
                    clearValidMessages();
                }
            }).done(function () {
                getAllUnit();
                showToast('success');
            }).fail(function (response) {
                data={
                    errorData:  collectUnitDataResponse()
                }
                const errors = response.responseJSON;
                console.log(response);
                for (const key in errors) {
                    if (errors.hasOwnProperty(key)) {
                        const index = parseInt(key.match(/unitRequestList\[(\d+)\]\.(\w+)/)[1]);
                        const col = key.split('.').pop();
                        const value = errors[key];
                        console.log(index)
                        if (col === 'name') validResponse($('#' + data?.errorData[index]?.name[0]?.id), value, 'div');

                    }
                }
                if (response?.status !== 400){
                    showToast('error');
                }
            });
        }

        function saveService() {
            let serviceRequestList = collectServiceData();
            let data = {
                serviceRequestList: serviceRequestList
            };
            $.ajax({
                method: "POST",
                url: "/admin/system-service/save-services",
                data: JSON.stringify(data),
                contentType: 'application/json',
                beforeSend : function (){
                    clearValidMessages();
                }
            }).done(function () {
                getAllService();
                showToast('success');
            }).fail(function (response) {
                data={
                    errorData:  collectServiceDataResponse()
                }
                const errors = response.responseJSON;
                console.log(response);
                for (const key in errors) {
                    if (errors.hasOwnProperty(key)) {
                        const index = parseInt(key.match(/serviceRequestList\[(\d+)\]\.(\w+)/)[1]);
                        const col = key.split('.').pop();
                        const value = errors[key];
                        if (col === 'name') validResponse($('#' + data?.errorData[index]?.name[0]?.id), value);
                        if (col === 'unitId') validResponse($('#' + data?.errorData[index]?.unitId[0]?.id), value,'div');

                    }
                }
                if (response?.status !== 400){
                    showToast('error');
                }
            });
        }

        function selectUnit(id,unit){
            $('#service-unit-'+id).select2({
                theme: 'bootstrap-5',
                minimumResultsForSearch: -1,
                ajax: {
                    method: 'GET',
                    url: '/admin/system-service/get-all-unit',
                    cache: true,
                    delay: 1000,
                    processResults: function (data) {
                        return {
                            results: data.map(function (item) {
                                return {
                                    id: item.id,
                                    text: item.name
                                };
                            })
                        };
                    }
                }
            });

            if (unit){
                $('#service-unit-'+id).append('<option selected value="' + unit?.id + '">' + unit?.name + '</option>');
            }

        }
    </script>

</th:block>

</html>
