<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<head>
  <title th:text="#{bills.card.title}"></title>
  <style>
    .form-control:disabled {
      background-color: #fdfdfd;
    }
  </style>
</head>

<th:block layout:fragment="content">

  <div class="col-12">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <div class="header-title">
          <h4 class="card-title" id="breadcrumb-title" th:text="#{bills.card.breadcrumb}"></h4>
        </div>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" id="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a class="text-color" th:href="@{/}" th:text="#{global.breadcrumb.main}"></a></li>
            <li class="breadcrumb-item" aria-current="page"><a class="text-color" th:href="@{/bills}" th:text="#{bills.breadcrumb}"></a></li>
          </ol>
        </nav>
      </div>
      <div class="card-body px-0">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <div class="input-group" id="passwordResponse">
          <button class="btn btn-gray disabled" type="button">№</button>
          <input type="text" class="form-control pass" id="number" disabled>
        </div>
      </div>
    </div>
    <div class="col-auto mt-2 pe-0" th:text="#{masters_call.card.time.at}"></div>
    <div class="col-3">
      <div class="input-group">
        <input class="form-control" id="date" type="date"
               th:placeholder="#{masters_call.save.date.placeholder}" disabled>
        <button class="input-group-text input-button pointer-event" disabled>
          <svg width="24" class="icon-24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class="table-responsive">
        <table class="table  table-hover table-bordered table-md mb-0" style="margin-top: 15px;max-width: 100%">
          <thead>
          <div class="text-end">
            <button type="button" class="btn btn-light"
                    style="margin-top: 15px; margin-right: 15px" onclick="getExcel()" th:text="#{bills.card.button.print}"></button>
            <button type="button" class="btn btn-light"
                    style="margin-top: 15px; margin-right: 15px" onclick="getExcel()" th:text="#{bills.card.button.send_email}"></button>
            <button type="button" class="btn btn-primary"
                    style="margin-top: 15px; margin-right: 15px" onclick="editBill()" th:text="#{bills.card.button.add_bill}"></button>
          </div>
          </thead>
          <tbody>
          <tr>
            <th class="col-3" th:text="#{bills.card.draft}"></th>
            <th class="h5" id="draft"></th>
          </tr>
          <tr>
            <th th:text="#{bills.card.status}"></th>
            <th class="h5" id="status"></th>
          </tr>
          <tr>
            <th th:text="#{bills.card.payed}"></th>
            <th id="payed"></th>
          </tr>
          <tr>
            <th th:text="#{bills.card.month}"></th>
            <th id="month"></th>
          </tr>
          <tr>
            <th th:text="#{bills.card.owner}"></th>
            <th id="owner"></th>
          </tr>
          <tr>
            <th th:text="#{bills.card.bank_book}"></th>
            <th id="bank-book"></th>
          </tr>
          <tr>
            <th th:text="#{bills.card.phone}"></th>
            <th id="phone"></th>
          </tr>
          <tr>
            <th th:text="#{bills.card.house}"></th>
            <th id="house"></th>
          </tr>
          <tr>
            <th th:text="#{bills.card.apartment}"></th>
            <th id="apartment"></th>
          </tr>
          <tr>
            <th th:text="#{bills.card.section}"></th>
            <th id="section"></th>
          </tr>
          <tr>
            <th th:text="#{bills.card.rate}"></th>
            <th id="rate"></th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class="table-responsive">
        <table class="table  table-hover table-bordered table-md my-0" style="margin-top: 15px;max-width: 100%" id="service-table">
          <thead>
          <tr>
            <th class="col-auto">#</th>
            <th th:text="#{bills.card.service}"></th>
            <th th:text="#{bills.card.count}"></th>
            <th th:text="#{bills.card.unit}"></th>
            <th th:text="#{bills.card.price_per_unit}"></th>
            <th th:text="#{bills.card.price}"></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="5"></th>
            <th>[[#{bills.card.total_price}]]: <a id="total-price"></a></th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</th:block>

<!-- Extra Modals -->
<th:block layout:fragment="extra-modals">

  <!-- put extra modals here for only this page -->

</th:block>

<th:block layout:fragment="extra-script">

  <script>

    let billId = undefined;

    $(document).ready(function () {
      billId = new URL(window.location.href).pathname.split("-").pop()
      getBillResponse(billId);
    });

    function getExcel(){
      $.ajax({
        method: "GET",
        url: "/myhouse24-amirb-nikitaf/admin/bills/get-excel-bill/" + billId,
        xhrFields: {
          responseType: 'blob'
        },
      }).done(function (blob, status, xhr) {
        getFileFromResponse(blob, status, xhr)
      }).fail(function (response){
        console.log(response)
        showToast('error');
      });
    }

    function getBillResponse(id) {
      $.ajax({
        method: "GET",
        url: "/myhouse24-amirb-nikitaf/admin/bills/get-bill-" + id,
        dataType: 'json'
      }).done(function (response) {
        console.log(response)

        $("#number").val(response?.number);
        $("#date").val(response?.createAt);
        $("#status").html(addBadgeBillStatus(response?.status));
        $("#draft").html(addBadgeBillDraft(response?.draft));
        $("#month").html(response?.month);
        $("#owner").html(ownerInfo(response?.bankBook?.apartment?.owner));
        $("#bank-book").html(bankBookInfo(response?.bankBook));
        $("#phone").html(response?.bankBook?.apartment?.owner?.phone);
        $("#house").html(houseInfo(response?.bankBook?.apartment?.house));
        $("#apartment").html(apartmentInfo(response?.bankBook?.apartment));
        $("#section").html(response?.bankBook?.apartment?.section?.name);
        $("#total-price").html(response?.totalPrice.toFixed(2));
        $("#payed").html(response?.payed.toFixed(2));
        $("#rate").html(response?.rate ? rateInfo(response?.rate) : '-');

        const SERVICE_BODY = createTableService('#service-table', response?.services.length)
        $.each(response?.services, function (index, service) {
          $(SERVICE_BODY).append(
                  '<tr>' +
                  '    <td>' + (index + 1) + '</td>' +
                  '    <td>' + service?.service?.name + '</td>' +
                  '    <td>' + service?.count + '</td>' +
                  '    <td>' + service?.service?.unit?.name + '</td>' +
                  '    <td>' + service?.price.toFixed(2) + '</td>' +
                  '    <td>' + service?.totalPrice.toFixed(2) + '</td>' +
                  '</tr>'
          );
        });

        $("#breadcrumb").append(addBreadcrumbTitle('[[#{bills.card.breadcrumb}]] №' + response?.number));
      }).fail(function (){
        window.location.href = "/myhouse24-amirb-nikitaf/admin/error";
      });
    }

    function ownerInfo(owner){
      let onclickAdd = 'onclick="ownerCard(' + owner.id + ')"';
      return '<a ' + onclickAdd + ' type="button" class="link">' + owner.fullName + '</a>';
    }

    function houseInfo(house){
      let onclickAdd = 'onclick="houseCard(' + house.id + ')"';
      return '<a ' + onclickAdd + ' type="button" class="link">' + house.name + '</a>';
    }

    function apartmentInfo(apartment){
      let onclickAdd = 'onclick="apartmentCard(' + apartment.id + ')"';
      return '<a ' + onclickAdd + ' type="button" class="link">' + apartment.number + '</a>';
    }

    function bankBookInfo(bankBook){
      let onclickAdd = 'onclick="bankBookCard(' + bankBook.id + ')"';
      return '<a ' + onclickAdd + ' type="button" class="link">' + bankBook.number + '</a>';
    }

    function rateInfo(rate){
      let onclickAdd = 'onclick="rateCard(' + rate.id + ')"';
      return '<a ' + onclickAdd + ' type="button" class="link">' + rate.name + '</a>';
    }

    function rateCard(id) {
      window.location.href = '/myhouse24-amirb-nikitaf/admin/rates/card-' + id;
    }

    function ownerCard(id) {
      window.location.href = '/myhouse24-amirb-nikitaf/admin/users/user-card/' + id;
    }

    function apartmentCard(id) {
      window.location.href = '/myhouse24-amirb-nikitaf/admin/apartments/apartment-card/' + id;
    }

    function houseCard(id) {
      window.location.href = '/myhouse24-amirb-nikitaf/admin/houses/house-card/' + id;
    }

    function bankBookCard(id) {
      window.location.href = '/myhouse24-amirb-nikitaf/admin/bank-books/card-' + id;
    }

    function editBill() {
      window.location.href = '/myhouse24-amirb-nikitaf/admin/bills/update-' + billId;
    }

    const date_flatpickr = document.querySelectorAll('#date');
    Array.from(date_flatpickr, (elem) => {
      if (typeof flatpickr !== typeof undefined) {
        flatpickr(elem, {
          minDate: "01.01.2014",
          dateFormat: "d.m.Y"
        })
      }
    })

    function createTableService(tableSelector, itemsCount) {
      const TABLE_DIV = $(tableSelector);
      const TABLE_HEAD = $(TABLE_DIV).find('thead');
      const TABLE_BODY = $(TABLE_DIV).find('tbody');
      const TABLE_COLUMNS_COUNT = $(TABLE_HEAD).find('th').length;

      $(TABLE_BODY).empty();
      if (itemsCount <= 0) {
        $(TABLE_BODY).append(
                '<tr>' +
                '    <td colspan="' + TABLE_COLUMNS_COUNT + '" class="align-middle text-center no-data">' +
                '[[#{table.empty}]]' +
                '    </td>' +
                '</tr>'
        );
      }

      return TABLE_BODY;
    }


  </script>

</th:block>

</html>
