<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<head>
    <title>Template</title>
</head>

<th:block layout:fragment="content">

    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title" th:text="#{staff.breadcrumb.staff}"></h4>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page" th:text="#{global.breadcrumb.main}"></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="#{staff.breadcrumb.staff}"></li>
                        <li class="breadcrumb-item active" aria-current="page"
                            th:text="#{staff.card.breadcrumb.staff}"></li>
                    </ol>
                </nav>
            </div>
            <div class="card-body px-0">
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table  table-hover table-bordered table-md mb-0" style="margin-top: 15px;max-width: 100%">
                    <thead>
                    <div class="text-end">
                        <button onclick="editStaff()" type="button" class="btn btn-primary"
                                th:text="#{staff.card.button.edit}"
                                style="margin-top: 15px; margin-right: 15px"></button>
                    </div>

                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="#{staff.card.table.staff}" class="col-3"></td>
                        <td id="full-name"></td>
                    </tr>
                    <tr>
                        <td th:text="#{staff.card.table.role}"></td>
                        <td id="role"></td>
                    </tr>
                    <tr>
                        <td th:text="#{staff.card.table.phone}"></td>
                        <td id="phone"></td>
                    </tr>
                    <tr>
                        <td th:text="#{staff.card.table.email}"></td>
                        <td id="email"></td>
                    </tr>
                    <tr>
                        <td th:text="#{staff.card.table.status}"></td>
                        <td class="h5"><span id="status" class="badge text-white"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</th:block>

<!-- Extra Modals -->
<th:block layout:fragment="extra-modals">

    <!-- put extra modals here for only this page -->

</th:block>

<th:block layout:fragment="extra-script">

    <script>

        let staffId;

        $(document).ready(function () {
            staffId = new URL(window.location.href).pathname.split("-").pop()
            getStaffDTO(staffId)
            console.log(staffId);
        });


        function getStaffDTO(id) {
            $.ajax({
                method: "GET",
                url: "/admin/staff/get-staff-card-dto/" + id,
                dataType: 'json'
            }).done(function (staffResponse) {
                console.log(staffResponse)
                $("#full-name").text(staffResponse?.fullName);
                $("#phone").text(staffResponse?.phone);
                $("#email").text(staffResponse?.email);
                $("#role").text(staffResponse?.role.value);
                $("#status").text(staffResponse?.status.value);
                addBadgeStatus(staffResponse?.status.name);
            });
        }

        function addBadgeStatus(status){
            switch (status) {
                case "ACTIVE":
                    $(".badge").addClass("rounded-pill bg-success");
                    break;
                case "NEW":
                    $(".badge").addClass("rounded-pill bg-warning");
                    break;
                case "DISABLED":
                    $(".badge").addClass("rounded-pill bg-danger");
                    break;
                default:
                    console.log("Unknown status");
            }
        }

        function editStaff() {
            window.location.href = '/admin/staff/' + staffId;
        }
    </script>

</th:block>

</html>
