<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<head>
    <title th:text="#{staff.save.title}"></title>
</head>

<th:block layout:fragment="content">

    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title" th:text="#{staff.breadcrumb.staff}"></h4>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" id="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page" th:text="#{global.breadcrumb.main}"></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="#{staff.breadcrumb.staff}"></li>
                        <li class="breadcrumb-item active" aria-current="page"
                            th:text="#{staff.card.breadcrumb.staff}"></li>
                    </ol>
                </nav>
            </div>
            <div class="card-body px-0">
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="firstname" class="form-label" th:text="#{staff.save.inp.firstname}"></label>
                            <input type="text" class="form-control" id="firstname">
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="form-label" th:text="#{staff.save.inp.lastname}"></label>
                            <input type="text" class="form-control" id="lastname">
                        </div>
                        <div class="form-group">
                            <label for="phone" class="form-label" th:text="#{staff.save.inp.phone}"></label>
                            <input type="text" class="form-control" id="phone"
                                   oninput="this.value = this.value.replace(/[^0-9()+-]/g, '').replace(/(\..*?)\..*/g, '$1');">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <label for="email" class="form-label" th:text="#{staff.save.inp.email}"></label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="password" class="form-label" th:text="#{staff.save.inp.pass}"></label>
                            <div class="input-group" id="passwordResponse">
                                <input type="password" class="form-control pass" id="password">
                                <button class="btn btn-gray" type="button" onclick="passwordVisibility()">
                                    <svg class="icon-20" width="15" fill="white" xmlns="http://www.w3.org/2000/svg"
                                         viewBox="0 0 576 512">
                                        <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                        <path d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/>
                                    </svg>
                                    <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"></path>
                                    <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                    <path d="M320 464c8.8 0 16-7.2 16-16V160H256c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320zM0 64C0 28.7 28.7 0 64 0H229.5c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64z"></path>
                                </button>
                                <button class="btn btn-primary" type="button" onclick="generatePassword()"
                                        th:text="#{global.button.generate_pass}">
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" class="form-label" th:text="#{staff.save.inp.conf_pass}"></label>
                            <input type="password" class="form-control pass" id="confirmPassword">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="form-label" th:text="#{staff.save.inp.role}"></label>
                            <select id="role" class="mb-1 form-select" aria-label=".form-select-lg example">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6" id="status-col" hidden>
                        <div class="form-group">
                            <label class="form-label" th:text="#{staff.save.inp.status}"></label>
                            <select id="status" class="mb-1 form-select" aria-label=".form-select-lg example">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col text-end mb-3">
                <a th:href="@{/staff}" type="button" class="btn btn-light" th:text="#{global.button.cancel}"></a>
                <button onclick="saveStaff()" type="button" class="btn btn-success"
                        style="margin-left: 15px; margin-right: 50px" th:text="#{global.button.accept}">
                </button>
            </div>
        </div>
    </div>

</th:block>

<!-- Extra Modals -->
<th:block layout:fragment="extra-modals">

    <!-- put extra modals here for only this page -->

</th:block>

<th:block layout:fragment="extra-script">

    <script>
        let articleId;
        let typeReq;
        $(document).ready(function () {
            typeReq = false;
            if (new URL(window.location.href).pathname.split("/").pop() !== "add") {
                $("#breadcrumb").append(addBreadcrumbTitle('[[#{global.breadcrumb.editing}]]'));
                document.getElementById('status-col').removeAttribute('hidden');
                staffId = new URL(window.location.href).pathname.split("/").pop()
                typeReq = true;
                getStaffDTO(staffId);
                getStatus();
            }else {
                $("#breadcrumb").append(addBreadcrumbTitle('[[#{global.breadcrumb.save}]]'));
            }

            console.log(staffId);
        });


        function getStaffDTO(id) {
            $.ajax({
                method: "GET",
                url: "/admin/staff/get-staff-edit-dto/" + id,
                dataType: 'json'
            }).done(function (staffResponse) {
                console.log(staffResponse)
                $("#firstname").val(staffResponse?.firstname);
                $("#lastname").val(staffResponse?.lastname);
                $("#phone").val(staffResponse?.phone);
                $("#email").val(staffResponse?.email);
                $("#role").append('<option selected value="' + staffResponse?.role?.name + '">' + staffResponse?.role?.value + '</option>');
                $("#status").append('<option selected value="' + staffResponse?.status?.name + '">' + staffResponse?.status?.value + '</option>');
            }).fail(function (){
                window.location.href = "/admin/error";
            });
        }


        function saveStaff() {

            let staffRequest = {
                id: undefined,
                firstname: undefined,
                lastname: undefined,
                phone: undefined,
                email: undefined,
                password: undefined,
                confirmPassword: undefined,
                role: undefined,
                status: undefined
            };

            staffRequest.id = staffId;
            staffRequest.firstname = $("#firstname").val();
            staffRequest.lastname = $("#lastname").val();
            staffRequest.phone = $("#phone").val();
            staffRequest.email = $("#email").val();
            staffRequest.password = $("#password").val();
            staffRequest.confirmPassword = $("#confirmPassword").val();
            staffRequest.role = $("#role").val();
            if ($("#status").val() !==''){
                staffRequest.status = $("#status").val();
            }
            console.log(staffRequest)
            console.log(staffRequest)
            $.ajax({
                method: typeReq ? 'PUT' : "POST",
                url: typeReq ? '/admin/staff/update-staff' : '/admin/staff/save-staff',
                contentType: 'application/json',
                data: JSON.stringify(staffRequest),
                beforeSend: function () {
                    clearValidMessages();
                }
            }).done(function () {
                window.location.href = "/admin/staff";
            }).fail(function (response) {
                const errors = response.responseJSON;
                console.log(response);
                if (errors.firstname) validResponse($('#firstname'), errors.firstname);
                if (errors.lastname) validResponse($('#lastname'), errors.lastname);
                if (errors.phone) validResponse($('#phone'), errors.phone);
                if (errors.email) validResponse($('#email'), errors.email);
                if (errors.password) validResponse($('#password'), errors.password, 'div.input-group');
                if (errors.confirmPassword) validResponse($('#confirmPassword'), errors.confirmPassword);
                if (errors.role) validResponse($('#role'), errors.role, 'div');
                if (errors.status) validResponse($('#status'), errors.status, 'div');

            })
        }

        function getStatus(){
            $('#status').select2({
                theme: 'bootstrap-5',
                minimumResultsForSearch: -1,
                ajax: {
                    method: 'GET',
                    url: '/admin/staff/get-all-status',
                    cache: true,
                    delay: 1500,
                    processResults: function (data) {
                        return {
                            results: data.map(function (item) {
                                return {
                                    id: item.name,
                                    text: item.value
                                };
                            })
                        };
                    }
                }
            });
        }

        $('#role').select2({
            theme: 'bootstrap-5',
            minimumResultsForSearch: -1,
            ajax: {
                method: 'GET',
                url: '/admin/staff/get-all-job-title',
                cache: true,
                delay: 1500,
                processResults: function (data) {
                    return {
                        results: data.map(function (item) {
                            return {
                                id: item.name,
                                text: item.value
                            };
                        })
                    };
                }
            }
        });

    </script>

</th:block>

</html>
