<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/fragments/layout}">

<head>
    <meta charset="UTF-8">
    <title th:text = "#{user.card.title}"></title>
    <th:block layout:fragment="extra-style">
    </th:block>

</head>
<th:block layout:fragment="content">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title" id="title"></h4>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/statistics}" th:text = "#{users.breadcrumb.main}"></a></li>
                        <li class="breadcrumb-item active" aria-current="page"> <a th:href="@{/houses}" th:text = "#{left.sidebar.houses}"></a></li>
                        <li class="breadcrumb-item active" aria-current="page" id = "breadcrumb"></li>
                    </ol>
                </nav>
            </div>
            <div class="card-body px-0">
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                    <div class="form-group" style="display: flex; justify-content: right">
                        <div>
                            <a th:href="@{/houses/edit-house/{id}(id = ${id})}" class="btn btn-primary" style="margin-left: 2px">
                                <svg xmlns="http://www.w3.org/2000/svg" style="margin: auto" height="1em" fill="white" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                                <h7 th:text="#{house.card.edit}"></h7>
                            </a>
                        </div>
                    </div>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-4 table-responsive">
                        <table class="table table-striped table-bordered" style="max-width: 100%">

                    <colgroup>
                        <col style="width:50%">
                        <col style="width:50%">
                    </colgroup>
                    <tbody id="userTable" style="min-height: 55px">
                        <tr>
                            <td><b th:text="#{house.card.name}"></b></td>
                            <td id="name"></td>
                        </tr>
                        <tr>
                            <td><b th:text="#{house.card.address}"></b></td>
                            <td id="address"></td>
                        </tr>
                        <tr>
                            <td><b th:text="#{house.card.section}"></b></td>
                            <td  id="section"></td>
                        </tr>
                        <tr>
                            <td><b th:text="#{house.card.floor}"></b></td>
                            <td id="floor"></td>
                        </tr>
                        <tr>
                            <td><b th:text="#{house.card.users}"></b></td>
                            <td  id="staffList">

                            </td>
                        </tr>
                    </tbody>
                </table>
                    </div>
                    <div class="col-md-4">
                        <img class="error-photo" style="width: 100%; height: 100%" id="image1">
                    </div>
                    <div class="col-md-4" style="align-items: center">
                        <div class="row" style="height: 100%;align-items: center">
                            <div class="row" style=" height: 45%">
                                <div class="col-md-6">
                                    <img class="error-photo" style="width: 100%; height: 100%" id="image2">
                                </div>
                                <div class="col-md-6">
                                    <img class="error-photo" style="width: 100%; height: 100%" id="image3">
                                </div>
                            </div>
                            <div class="row" style=" height: 50%; padding-top: 5%">
                                <div class="col-md-6">
                                    <img class="error-photo" style="width: 100%; height: 100%" id="image4">
                                </div>
                                <div class="col-md-6">
                                    <img class="error-photo" style="width: 100%; height: 100%" id="image5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer pt-0 pb-0" style="margin-bottom: 20px">
            </div>
        </div>
    </div>
















</th:block>
<th:block layout:fragment="extra-modals">
</th:block>
<th:block layout:fragment="extra-script">
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/admin/houses/get-house-by-id/"+[[${id}]]
        })
            .done(function (response){
                console.log(response);
                $("#name").text(response.name);
                $("#title").text(response.name);
                $("#breadcrumb").text(response.name);
                $("#address").text(response.address);
                $("#section").text(response.section);
                $("#floor").text(response.floor);
                $("#image1").attr("src","/admin/files/"+response.image1);
                $("#image2").attr("src","/admin/files/"+response.image2);
                $("#image3").attr("src","/admin/files/"+response.image3);
                $("#image4").attr("src","/admin/files/"+response.image4);
                $("#image5").attr("src","/admin/files/"+response.image5);
                var usersHtml = "";
                for (let i = 0; i<response.users.length; i++){
                    usersHtml+= "<p>"+response.users[i].role+": <a href=\"/admin/staff/card-"+response.users[i].id+"\">"+response.users[i].fullName+"</a> </p>"
                }
                $("#staffList").html(usersHtml);
               })
    });
</script>
</th:block>
</html>