<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<head>
    <title>Template</title>
    <style>
        .form-control:disabled {
            background-color: #fdfdfd;
        }
    </style>
</head>

<th:block layout:fragment="content">

    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title" id="breadcrumb-title"></h4>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" id="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page" th:text="#{global.breadcrumb.main}"></li>
                    </ol>
                </nav>
            </div>
            <div class="card-body px-0">
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3">
            <div class="input-group">
                <input class="form-control" id="date" type="date" th:placeholder="#{masters_call.save.date.placeholder}" disabled>
                <button class="input-group-text input-button pointer-event" disabled>
                    <svg width="24" class="icon-24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="col-auto mt-2" th:text="#{masters_call.card.time.at}"></div>
        <div class="col-3">
            <div class="input-group">
                <input class="form-control time_flatpicker" id="time" type="time" th:placeholder="#{masters_call.save.time.placeholder}" disabled>
                <button class="input-group-text input-button pointer-event" disabled>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 512 512">
                        <path d="M464 256A208 208 0 1 1 48 256a208 208 0 1 1 416 0zM0 256a256 256 0 1 0 512 0A256 256 0 1 0 0 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>


    <div class="col-sm-12">
        <div class="card">
            <div class="table-responsive">
                <table class="table  table-hover table-bordered table-md mb-0" style="margin-top: 15px;max-width: 100%">
                    <thead>
                    <div class="text-end">
                        <button onclick="editMastersApplication()" type="button" class="btn btn-primary"
                                style="margin-top: 15px; margin-right: 15px"
                                th:text="#{masters_call.card.button.edit}"></button>
                    </div>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="col-3" th:text="#{masters_call.card.status}"></td>
                        <td class="h5" id="status"></td>
                    </tr>
                    <tr>
                        <td th:text="#{masters_call.card.owner}"></td>
                        <td id="owner"></td>
                    </tr>
                    <tr>
                        <td th:text="#{masters_call.card.phone}"></td>
                        <td id="phone"></td>
                    </tr>
                    <tr>
                        <td th:text="#{masters_call.card.apartment}"></td>
                        <td id="apartment"></td>
                    </tr>
                    <tr>
                        <td th:text="#{masters_call.card.type_master}"></td>
                        <td id="type-master"></td>
                    </tr>
                    <tr>
                        <td th:text="#{masters_call.card.master}"></td>
                        <td id="master"></td>
                    </tr>
                    <tr>
                        <td th:text="#{masters_call.card.description}"></td>
                        <td id="description"></td>
                    </tr>
                    <tr>
                        <td th:text="#{masters_call.card.update_at}"></td>
                        <td id="date-add"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</th:block>

<!-- Extra Modals -->
<th:block layout:fragment="extra-modals">

    <!-- put extra modals here for only this page -->

</th:block>

<th:block layout:fragment="extra-script">

    <script>

        let masterApplId = undefined;

        $(document).ready(function () {
            masterApplId = new URL(window.location.href).pathname.split("-").pop()
            getMastersApplicationResponse(masterApplId);
        });

        function getMastersApplicationResponse(id) {
            $.ajax({
                method: "GET",
                url: "/admin/master-call/get-masters-application-" + id,
                dataType: 'json'
            }).done(function (response) {
                console.log(response)

                masterApplId = response?.id;
                $("#date").val(response?.date);
                $("#time").val(response?.time);
                $("#description").html(response?.description);
                $("#phone").html(response?.apartment?.owner?.phone);
                $("#type-master").html(response?.master?.value);
                $("#status").html(addBadgeApplicationStatus(response?.mastersApplicationStatus));
                (response?.staff) ? $("#master").html(response?.staff?.fullName) : $("#master").html('-');
                $("#apartment").html(response?.description);
                $("#owner").html(response?.apartment?.owner?.fullName);
                $("#date-add").html(response?.createAt);

                $("#breadcrumb-title").append('[[#{masters_call.card.breadcrumb}]] №' + response?.id);
                $("#breadcrumb").append(addBreadcrumbTitle('[[#{masters_call.card.breadcrumb}]] №' + response?.id));
            }).fail(function (){
                window.location.href = "/admin/error";
            });
        }

        const date_flatpickr = document.querySelectorAll('#date');
        Array.from(date_flatpickr, (elem) => {
            if (typeof flatpickr !== typeof undefined) {
                flatpickr(elem, {
                    minDate: "today",
                    dateFormat: "d.m.Y",
                })
            }
        })

        function editMastersApplication() {
            window.location.href = '/admin/master-call/update-' + masterApplId;
        }
    </script>

</th:block>

</html>
