<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/fragments/layout}">

<head>
    <title th:text="#{masters_call.title}"></title>
</head>

<th:block layout:fragment="content">

    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title" id="breadcrumb-title" th:text="#{masters_call.breadcrumb}"></h4>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" id="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page"><a class="text-color" th:href="@{/}" th:text="#{global.breadcrumb.main}"></a></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="#{masters_call.breadcrumb}"></li>
                    </ol>
                </nav>
            </div>
            <div class="card-body px-0">
            </div>
        </div>
    </div>


    <div class="col-12 text-end" style="padding-bottom: 30px">
        <a th:href="@{/master-call/add}" type="button" class="btn btn-success" th:text="#{masters_call.button.add}"></a>
    </div>

    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex">
                <div class="col text-end">
                    <button onclick="clearInput()" type="button" class="btn btn-light" style="height: 40px"><h7 th:text="#{table.clear}"></h7><svg style="margin: auto; margin-left: 5px" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M290.7 57.4L57.4 290.7c-25 25-25 65.5 0 90.5l80 80c12 12 28.3 18.7 45.3 18.7H288h9.4H512c17.7 0 32-14.3 32-32s-14.3-32-32-32H387.9L518.6 285.3c25-25 25-65.5 0-90.5L381.3 57.4c-25-25-65.5-25-90.5 0zM297.4 416H288l-105.4 0-80-80L227.3 211.3 364.7 348.7 297.4 416z"/></svg></button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered link-row" id="masters-appl-table"
                       style="margin-top: 15px; max-width: 100%">
                    <thead>
                    <tr>
                        <th th:text="#{masters_call.table.number}"></th>
                        <th th:text="#{masters_call.table.time}"></th>
                        <th th:text="#{masters_call.table.type_master}"></th>
                        <th th:text="#{masters_call.table.description}"></th>
                        <th th:text="#{masters_call.table.apartment}"></th>
                        <th th:text="#{masters_call.table.owner}"></th>
                        <th th:text="#{masters_call.table.phone}" style="min-width: 200px"></th>
                        <th th:text="#{masters_call.table.master}"></th>
                        <th th:text="#{masters_call.table.status}"></th>
                        <th></th>
                    </tr>
                    <tr id="search">
                        <th>
                            <input class="form-control" type="text" id="number-application" oninput="this.value = this.value.replace(/\D/g, '');" maxlength="150">
                        </th>
                        <th>
                            <input class="form-control" id="date" type="date" style="width: 120px">
                        </th>
                        <th>
                            <select id="type-master" class="mb-1 form-select form-select" aria-label=".form-select-lg example"
                                    style="width: 160px; height: 40px">
                                <option value=""></option>
                            </select>
                        </th>
                        <th>
                            <input class="form-control" type="text" id="description" maxlength="1500">
                        </th>
                        <th><input class="form-control" type="text" id="apartment"></th>
                        <th>
                            <select id="apartment-owner" class="mb-1 form-select form-select"
                                    aria-label=".form-select-lg example" style="width: 160px; height: 40px">
                                <option value=""></option>
                            </select>
                        </th>
                        <th><input class="form-control" type="text" id="phone" oninput="this.value = this.value.replace(/\D/g, '');" maxlength="20"></th>
                        <th>
                            <select id="master" class="mb-1 form-select form-select"
                                    aria-label=".form-select-lg example" style="width: 160px; height: 40px">
                                <option value=""></option>
                            </select>
                        </th>
                        <th>
                            <select id="status" class="mb-1 form-select form-select"
                                    aria-label=".form-select-lg example" style="width: 160px; height: 40px">
                                <option value=""></option>
                            </select>
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="row" style="display: flex; justify-content: space-between">
                </div>
            </div>
        </div>
    </div>

</th:block>

<!-- Extra Modals -->
<th:block layout:fragment="extra-modals">

    <!-- put extra modals here for only this page -->

</th:block>

<th:block layout:fragment="extra-script">

    <script>

        let masterApplId = undefined;
        let masterApplRequest ={};
        masterApplRequest.pageIndex = 0;
        let staffMasterRequest = {};
        staffMasterRequest.role = undefined;
        let filterTimeout;
        let lang;

        $(document).ready(function () {
            $.ajax({
                url: "/myhouse24-amirb-nikitaf/admin/get-locale"
            }).done(function (response) {
                lang = response;
            }).fail(function () {
                lang = "en";
            }).then(function (){
                allSelect();
                const date_flatpickr = document.querySelectorAll('#date');
                Array.from(date_flatpickr, (elem) => {
                    if (typeof flatpickr !== typeof undefined) {
                        flatpickr(elem, {
                            minDate: "01.01.2014",
                            dateFormat: "d.m.Y - H:i",
                            enableTime: true,
                            time_24hr: true,
                            locale: lang
                        })
                    }
                })
                getAllMastersApplication();
                $(document.body).on("click", "tr", function (e) {
                    if (!($(e.target).attr("data-actions") === "data-actions") && !$(e.target).is("svg") && !$(e.target).is("a") && !$(e.target).is("path")) {
                        const href = $(this).data('href');
                        if (href) {
                            window.location.href = href;
                        }
                    }
                });
            });
        });

        $('#number-application, #date, #description, #apartment, #phone').on('input', function () {
            clearTimeout(filterTimeout);
            filterTimeout = setTimeout(function () {
                updateMastersApplicationsRequestAndSend();
            }, 1000);
        });

        $('#type-master').on('select2:select', function () {
            updateMastersApplicationsRequestAndSend();
        });

        $('#apartment-owner').on('select2:select', function () {
            updateMastersApplicationsRequestAndSend();
        });

        $('#master').on('select2:select', function () {
            updateMastersApplicationsRequestAndSend();
        });

        $('#status').on('select2:select', function () {
            updateMastersApplicationsRequestAndSend();
        });

        $(document).on('click', '.text-danger', function () {
            masterApplId = $(this).data('id');
            $('#confirmDelete').modal('show');
        });

        function getAllMastersApplication() {
            $.ajax({
                method: "POST",
                url: "/myhouse24-amirb-nikitaf/admin/master-call/get-all-master-call",
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(masterApplRequest)
            }).done(function (response) {
                console.info(response)
                console.info(masterApplRequest)
                const TABLE_BODY = createTable('#masters-appl-table', response?.totalElements, response?.totalPages , masterApplRequest?.pageIndex);
                $.each(response?.content, function (index, mastersAppl) {
                    const $edit = '<a class="btn btn-sm btn-icon text-primary flex-end" href="/myhouse24-amirb-nikitaf/admin/master-call/update-' + mastersAppl.id + '" type="link" title="[[#{master_call.button.title.edit}]]">' +
                        '<span class="btn-inner">' +
                        '<svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">' +
                        '<path d="M11.4925 2.78906H7.75349C4.67849 2.78906 2.75049 4.96606 2.75049 8.04806V16.3621C2.75049 19.4441 4.66949 21.6211 7.75349 21.6211H16.5775C19.6625 21.6211 21.5815 19.4441 21.5815 16.3621V12.3341" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>' +
                        '<path fill-rule="evenodd" clip-rule="evenodd" d="M8.82812 10.921L16.3011 3.44799C17.2321 2.51799 18.7411 2.51799 19.6721 3.44799L20.8891 4.66499C21.8201 5.59599 21.8201 7.10599 20.8891 8.03599L13.3801 15.545C12.9731 15.952 12.4211 16.181 11.8451 16.181H8.09912L8.19312 12.401C8.20712 11.845 8.43412 11.315 8.82812 10.921Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>' +
                        '<path d="M15.1655 4.60254L19.7315 9.16854" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>' +
                        '</svg>' +
                        '</span>' +
                        '</a>'
                    const $deleteBtn = '<a class="btn btn-sm btn-icon text-danger" type="link" title="[[#{master_call.button.title.delete}]]" data-toggle="modal" data-target="#confirmDelete" data-id="' + mastersAppl.id + '">' +
                        '<span class="btn-inner">' +
                        '<svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">' +
                        '<path d="M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>' +
                        '<path d="M20.708 6.23975H3.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>' +
                        '<path d="M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>' +
                        ' </svg>' +
                        '</span>' +
                        '</a>';
                    $(TABLE_BODY).append(
                        '<tr  data-href="/myhouse24-amirb-nikitaf/admin/master-call/card-' + mastersAppl.id + '" data-key="' + mastersAppl.id + '">' +
                        '    <td>' + mastersAppl.id + '</td>' +
                        '    <td>' + mastersAppl?.fullDate + '</td>' +
                        '    <td>' + mastersAppl?.master?.value + '</td>' +
                        '    <td class="text-truncate" style="max-width: 400px">' + mastersAppl?.description + '</td>' +
                        '    <td>' + mastersAppl?.apartment?.name + '</td>' +
                        '    <td>' + mastersAppl?.apartment?.owner?.fullName + '</td>' +
                        '    <td>' + mastersAppl?.apartment?.owner?.phone + '</td>' +
                        '    <td>' + mastersAppl?.staff?.fullName + '</td>' +
                        '    <td class="h5">' + addBadgeApplicationStatus(mastersAppl?.mastersApplicationStatus) + '</td>' +
                        '    <td data-actions="data-actions">' + $edit + $deleteBtn + '</td>' +
                        '</tr>'
                    );
                });
            }).fail(function (response){
                console.log(response)
                showToast('error');
            });

            function createTable(tableSelector, itemsCount, pagesCount, pageIndex) {
                const TABLE_DIV = $(tableSelector);
                const TABLE_HEAD = $(TABLE_DIV).find('thead');
                const TABLE_BODY = $(TABLE_DIV).find('tbody');
                const TABLE_COLUMNS_COUNT = $(TABLE_HEAD).find('th').length;
                const TABLE_PAGINATION_ROW = $(TABLE_DIV).parents('div.card').find('div.card-footer').find('div.row');

                $(TABLE_BODY).empty();
                $(TABLE_PAGINATION_ROW).empty();
                if (itemsCount <= 0) {
                    $(TABLE_DIV).parents('div.card').find('div.card-footer').attr('hidden', true);
                    $(TABLE_BODY).append(
                        '<tr>' +
                        '    <td colspan="' + TABLE_COLUMNS_COUNT + '" class="align-middle text-center no-data">' +
                        '[[#{table.empty}]]' +
                        '    </td>' +
                        '</tr>'
                    );
                }else {
                    $(TABLE_DIV).parents('div.card').find('div.card-footer').attr('hidden', false);
                    createPagination(pagesCount, pageIndex, TABLE_PAGINATION_ROW, itemsCount);
                }

                return TABLE_BODY;
            }
        }

        $(document).on('click', 'a.page-link', function () {
            const pageBtn = $(this);
            if ($(pageBtn).parent('li.page-item').hasClass('prev')) {
                masterApplRequest.pageIndex = --masterApplRequest.pageIndex;
            } else if ($(pageBtn).parent('li.page-item').hasClass('next')) {
                masterApplRequest.pageIndex = ++masterApplRequest.pageIndex;
            } else {
                masterApplRequest.pageIndex = Number($(pageBtn).text()) - 1;
            }
            getAllMastersApplication();
        });

        function deleteEntity() {
            $.ajax({
                method: "DELETE",
                url: "/myhouse24-amirb-nikitaf/admin/master-call/delete-master-call/" + masterApplId,
                contentType: 'application/json'
            }).done(function () {
                $('#confirmDelete').modal('hide');
                masterApplId = undefined;
                getAllMastersApplication();
                showToast('success');
            }).fail(function (response) {
                console.log(response);
                $('#confirmDelete').modal('hide');
                showToast('error');
                masterApplId = undefined;
            })
        }


        function clearInput(){
            $('#search th select').val('').trigger('change');
            $('#search th select option').remove();
            $('#search th input').val('');
            updateMastersApplicationsRequestAndSend();
            showToast('success')
        }

        function allSelect(){
            $('#type-master').select2({
                theme: 'bootstrap-5',
                minimumResultsForSearch: -1,
                language: lang,
                ajax: {
                    method: 'GET',
                    url: '/myhouse24-amirb-nikitaf/admin/master-call/get-all-type-master',
                    cache: true,
                    delay: 1500,
                    processResults: function (data) {
                        return {
                            results: data.map(function (item) {
                                return {
                                    id: item.name,
                                    text: item.value
                                };
                            })
                        };
                    }
                }
            });

            $('#apartment-owner').select2({
                theme: 'bootstrap-5',
                maximumInputLength: 60,
                language: lang,
                ajax: {
                    url: '/myhouse24-amirb-nikitaf/admin/master-call/get-all-user',
                    cache: true,
                    delay: 1500,
                    data: function (param) {
                        return {
                            pageIndex : param.page || 0,
                            search : param.term || ""
                        }
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;
                        let mappedResults = data.content.map(function (item) {
                            return {
                                id: item.id,
                                text: item.fullName
                            };
                        })
                        return {
                            results: mappedResults,
                            pagination: {
                                more: params.page < data.totalPages - 1
                            }
                        };
                    }
                }
            });

            $('#master').select2({
                theme: 'bootstrap-5',
                maximumInputLength: 60,
                language: lang,
                ajax: {
                    url: '/myhouse24-amirb-nikitaf/admin/master-call/get-all-staff',
                    cache: true,
                    delay: 1500,
                    data: function (param) {
                        return {
                            pageIndex : param.page || 0,
                            staffQuery : param.term || ""
                        }
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 0;
                        let mappedResults = data.content.map(function (item) {
                            return {
                                id: item.id,
                                text: item.fullName
                            };
                        })
                        return {
                            results: mappedResults,
                            pagination: {
                                more: params.page < data.totalPages - 1
                            }
                        };
                    }
                }
            });


            $('#status').select2({
                theme: 'bootstrap-5',
                minimumResultsForSearch: -1,
                language: lang,
                ajax: {
                    method: 'GET',
                    url: '/myhouse24-amirb-nikitaf/admin/master-call/get-all-status',
                    cache: true,
                    delay: 1500,
                    processResults: function (data) {
                        return {
                            results: data.map(function (item) {
                                return {
                                    id: item.name,
                                    text: item.value
                                };
                            })
                        };
                    }
                }
            });
        }
        function updateMastersApplicationsRequestAndSend() {
            masterApplRequest.idQuery = $('#number-application').val();
            masterApplRequest.dateTime = $('#date').val();
            if ($('#type-master').val()!==''){
                masterApplRequest.typeMaster = $('#type-master').val();
            }
            masterApplRequest.descriptionQuery = $('#description').val();
            masterApplRequest.apartmentQuery = $('#apartment').val();
            masterApplRequest.ownerIdQuery = $('#apartment-owner').val();
            masterApplRequest.phoneQuery = $('#phone').val();
            masterApplRequest.staffIdQuery = $('#master').val();
            if ($('#status').val()!==''){
                masterApplRequest.statusQuery = $('#status').val();
            }

            masterApplRequest.pageIndex = 0;
            getAllMastersApplication();
        }
    </script>

</th:block>

</html>
