<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/fragments/layout}" style="width: auto">

<head>
    <meta charset="UTF-8">
    <title th:text="#{left.sidebar.site.management.main.page}"></title>
    <th:block layout:fragment="extra-style">
        <style>
            .main-page-slide{
                width: 100%;
                height: 270px;
            }
        </style>

    </th:block>

</head>
<th:block layout:fragment="content">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title" th:text = "#{global.breadcrumb.edit.page}"></h4>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/statistics}" th:text = "#{global.breadcrumb.main}"></a></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text = "#{global.breadcrumb.edit.page}"></li>
                    </ol>
                </nav>
            </div>
            <div class="card-body px-0">
            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">

                <div style="display: flex; justify-content: space-between">
                    <h3 th:text="#{settings.page.service.page}"></h3>
                    <button type="button" class="btn btn-light" style="height: 40px; display: flex"  ><h7 th:text="#{settings.page.button.update}"></h7></button>
                </div>
                <hr class="hr-horizontal">
            </div>
            <div class="card-body">
                <form id="servicePage">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" style="padding-top:10px" id="serviceContainer">
                                <h3 th:text="#{settings.page.service.page.services}"></h3>
                                <hr class="hr-horizontal">
                                <div class="col-md-4" th:each="block, blockStat:${service.bannerResponseList()}" th:id="${'blockDiv'+block.id()}">
                                    <h5 class="name-service" th:text="#{settings.page.service.page.service} +' '+ ${(blockStat.index+1)}"> </h5>
                                    <img th:src="${'/admin/files/'+block.image()}"  alt="" class="main-page-slide" th:id="${'block'+(blockStat.index+1)}">
                                    <div class="form-group mb-30">
                                        <label class="control-label block-img" th:text="#{settings.page.main.size}"></label>
                                        <input type="file" class="form-control form-control-lg for-valid-img" name="imageList" accept=".jpg,.jpeg,.png" th:id="${'blockInput'+(blockStat.index+1)}" onchange="handleFileChange(event)">

                                    </div>
                                    <div class="form-group">
                                        <label class="form-label title" th:text="#{settings.page.main.page.title}"></label>
                                        <input type="text" class="form-control for-valid-title"  name="blockTitleList" th:id="${'blockTitle'+(blockStat.index+1)}" th:value="${block.title()}">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label description" th:text="#{settings.page.main.page.brief.description}"></label>
                                        <div th:id="${'blockDescriptionDiv'+block.id()}" class="for-valid-description"><div class='description-old' th:id="${'blockDescription'+block.id()}" style="height: 70px;"></div></div>
                                    </div>
                                    <div style="display: flex; justify-content: center" th:if="${blockStat.index>0}">
                                        <button type="button" class="btn btn-sm btn-icon text-danger"   th:onclick="'deleteBlock('+${block.id()}+')'" >
                                                    <span class="btn-inner">
                                                        <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                                                            <path d="M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M20.708 6.23975H3.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                            <path d="M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </svg>
                                                    </span>
                                        </button>
                                    </div>
                                    <script>
                                        function handleFileChange(event) {
                                            const input = event.target;
                                            const file = input.files[0];
                                            const id = input.id.slice(10);
                                            const img = document.getElementById(`block${id}`);

                                            if (file) {
                                                img.src = URL.createObjectURL(file);
                                            }
                                        }
                                    </script>

                                </div>
                            </div>
                            <div class="row" style="padding-top:10px">
                                <h3>SEO</h3>
                                <hr class="hr-horizontal">
                                <div class="form-group">
                                    <label class="form-label" th:text="#{settings.page.main.page.title}"></label>
                                    <input type="text" class="form-control" id="seoTitle"  name="seoTitle" th:value="${service.seoTitle()}">
                                </div>
                                <div class="form-group" >
                                    <label class="form-label" th:text="#{settings.page.main.page.description}"></label>
                                    <textarea id="seoDescription" class="form-control" rows="6" name="seoDescription" th:text="${service.seoDescription()}"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" th:text="#{settings.page.main.page.key.words}"></label>
                                    <textarea id="seoKeyWords" class="form-control" rows="6" name="seoKeyWords" th:text="${service.seoKeyWords()}"></textarea>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: center;  margin-bottom: 10px">
                            <button onclick="cancelMainPage()" type="button" class="btn btn-gray" th:text="#{global.button.cancel}" style="width: 150px" ></button>
                            <button onclick="addService()" type="button" class="btn btn-success" th:text="#{settings.page.service.page.button.add}" style="width: 200px;margin-left: 10px" ></button>
                            <button onclick="saveMainPage()" type="button" class="btn btn-success" th:text="#{global.button.save}" style="width: 150px; margin-left: 10px" ></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
















</th:block>
<th:block layout:fragment="extra-alert">
    <div id="liveAlertPlaceholder" style="right: 0; position: fixed; bottom: 0"></div>
</th:block>
<th:block layout:fragment="extra-modals">
    <div class="modal fade" id="confirmDeleteUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteUserLabel">Delete Apartment Owner</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete apartment owner?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-success" onclick="userDelete()">Yes</button>
                </div>
            </div>
        </div>
    </div>

</th:block>
<th:block layout:fragment="extra-script">
    <script th:inline="javascript">
        var deleteIdsBlock = [];
        function deleteBlock(id){
            $(document).ready(function() {
                $("#blockDiv" + id).remove();
                deleteIdsBlock.push(id);
            });
        }

        function deleteNewBlock(id){
            $(document).ready(function() {
                $("#newBlockDiv" + id).remove();
            });
        }


        document.addEventListener("DOMContentLoaded", function() {
            var quillContentList = [[${service.bannerResponseList()}]];

            quillContentList.forEach(function(item) {
                var editorDiv = document.createElement("div");
                editorDiv.classList.add("blockDescription");

                editorDiv.id = "blockDescription" + item.id;
                document.querySelector("#blockDescriptionDiv"+item.id).appendChild(editorDiv);

                var quill = new Quill("#" + editorDiv.id, {
                    theme: "snow"
                });
                quill.root.innerHTML = item.description;
                quill.on('text-change', function(delta, oldDelta, source) {
                    clearSimpleValidMessages("blockDescriptionDiv"+item.id);
                });
            });
        });


        function saveMainPage(){
            var form = document.getElementById("servicePage");
            var formData = new FormData(form);
            var oldDescription = document.querySelectorAll('div[class="description-old ql-container ql-snow"]');
            oldDescription.forEach(function(element) {
                var id = element.getAttribute("id");
                var quillEditor = document.querySelector("#" + id + " .ql-editor");
                var editorContent = quillEditor.innerHTML;
                formData.append("blockDescriptionList", editorContent);
            });
            var newDescription = document.querySelectorAll('div[class="description-new ql-container ql-snow"]');
            newDescription.forEach(function(element) {
                var id = element.getAttribute("id");
                var quillEditor = document.querySelector("#" + id + " .ql-editor");
                var editorContent = quillEditor.innerHTML;

                formData.append("blockDescriptionList", editorContent);
            });
            formData.append("deleteBlockList", deleteIdsBlock);
            $.ajax({
                url: "/admin/site/service-page-save",
                method: "PUT",
                contentType: false,
                processData: false,
                data:formData
            })
                .done(function (response){
                    clearValidMessages();
                    showToast("success");
                })
                .fail( function(response){
                    clearValidMessages();
                    let errors = response.responseJSON;
                    console.log(errors);
                    for (var i =0; i<Object.keys(errors).length; i++){
                        var keys = Object.keys(errors)[i];
                        var values = Object.values(errors)[i];
                        var regex = /^imageList\[\d+\]$/;
                        var regexTitle = /^blockTitleList\[\d+\]$/;
                        var regexDescription = /^blockDescriptionList\[\d+\]$/;
                        if (regex.test(keys)){
                            var startIndex1 = keys.indexOf("[") + 1;
                            var endIndex1 = keys.indexOf("]");
                            var number1 = keys.substring(startIndex1, endIndex1);
                            var imgs1 = document.querySelectorAll('.for-valid-img');
                            for(let i = 0; i<imgs1.length;i++){
                                if (parseInt(number1) === i){
                                    var id1 = imgs1[i].id;
                                    console.log(id1);
                                    validResponse("#"+id1, values);
                                }
                            }
                        }
                        if (regexTitle.test(keys)){
                            var startIndex2 = keys.indexOf("[") + 1;
                            var endIndex2 = keys.indexOf("]");
                            var number2 = keys.substring(startIndex2, endIndex2);
                            var imgs2 = document.querySelectorAll('.for-valid-title');
                            console.log("++++");

                            for(let i = 0; i<imgs2.length;i++){
                                console.log(number2 +" "+i);
                                if (parseInt(number2) === i){
                                    var id2 = imgs2[i].id;
                                    console.log(id2);
                                    validResponse("#"+id2, values);
                                }
                            }
                        }
                        if (regexDescription.test(keys)){
                            var startIndex3 = keys.indexOf("[") + 1;
                            var endIndex3 = keys.indexOf("]");
                            var number3 = keys.substring(startIndex3, endIndex3);
                            var imgs3 = document.querySelectorAll('.for-valid-description');
                            for(let i = 0; i<imgs3.length;i++){
                                if (parseInt(number3) === i){
                                    var id3 = imgs3[i].id;
                                    console.log(id3);
                                    validResponse("#"+id3, values);
                                }
                            }
                        }
                        validResponse("#" + keys, values);

                    }
                })
        }
        function cancelMainPage(){
            window.location.href = "/admin/site/service-page"
        }

        function addService(){
            var title = document.querySelector('label[class="form-label title"]').textContent;

            var description = document.querySelector('label[class="form-label description"]').textContent;
            var imgBlock = document.querySelector('label[class="control-label block-img"]').textContent;
            var h5s = document.querySelectorAll('h5[class="name-service"]');
            var h5 =  document.querySelector('h5[class="name-service"]').textContent.substring(0,7);
            var h5Number = h5s.length;
            var h5Number1 = parseInt(h5Number)+1;
            var h5Text = h5+" "+h5Number1;
            console.log(h5Text);



            var images = document.querySelectorAll('img[class="main-page-slide add"]');
            let i;
            if (images.length>0){
                var lastImage = images[images.length - 1];
                var idAttribute = lastImage.getAttribute("id");
                var number = idAttribute.replace("newBlock", "");
                i = number;
            }
            else {
                i = 1;
            }
            i++;
            console.log(i);

            const container = document.getElementById("serviceContainer");
            const imgDiv = document.createElement("div");
            imgDiv.id = "newBlockDiv"+i;
            imgDiv.classList.add("col-md-4");
            imgDiv.innerHTML = " <h5 class=\"name-service\">"+ h5Text +" </h5>\n" +
                "                                    <img src=\"/admin/static/assets/images/default.jpg\"  alt=\"\" class=\"main-page-slide add\" id=\"newBlock"+i+"\">\n" +
                "                                    <div class=\"form-group mb-30\">\n" +
                "                                        <label class=\"control-label block-img\">"+imgBlock+"</label>\n" +
                "                                        <input type=\"file\" class=\"form-control form-control-lg for-valid-img\" name=\"imageList\" accept=\".jpg,.jpeg,.png\" onchange=\"handleFileChange(event)\" id=\"newBlockInput"+i+"\">\n" +
                "                                       \n" +
                "                                    </div>\n" +
                "                                    <div class=\"form-group\">\n" +
                "                                        <label class=\"form-label title\">"+title+"</label>\n" +
                "                                        <input type=\"text\" class=\"form-control for-valid-title\"  name=\"blockTitleList\" id='newBlockTitle"+i+"'>\n" +
                "                                    </div>\n" +
                "                                    <div class=\"form-group\">\n" +
                "                                        <label class=\"form-label description\">"+description+"</label>\n" +
                "                                        <div id=\"newBlockDescriptionDiv"+i+"\" class='for-valid-description'><div class='description-new' id=\"newBlockDescription"+i+"\" style=\"height: 70px;\"></div></div>\n" +
                "                                    </div>" +
                "                   <div style=\"display: flex; justify-content: center\">" +
                "                               <button type=\"button\" class=\"btn btn-sm btn-icon text-danger\"   onclick=\"deleteNewBlock("+i+")\">\n" +
                "                                                <span class=\"btn-inner\">\n" +
                "                                                    <svg class=\"icon-20\" width=\"20\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\" stroke=\"currentColor\">\n" +
                "                                                        <path d=\"M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path>\n" +
                "                                                        <path d=\"M20.708 6.23975H3.75\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path>\n" +
                "                                                        <path d=\"M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973\" stroke=\"currentColor\" stroke-width=\"1.5\" stroke-linecap=\"round\" stroke-linejoin=\"round\"></path>\n" +
                "                                                    </svg>\n" +
                "                                                </span>\n" +
                "                                    </button>" +
                "                   </div>";
            const scriptTag = document.createElement("script");
            scriptTag.textContent = "function handleFileChange(event) {\n" +
                "                                            const input = event.target;\n" +
                "                                            const file = input.files[0];\n" +
                "                                            const id = input.id.slice(13);\n" +
                "                                            const img = document.getElementById(`newBlock${id}`);\n" +
                "\n" +
                "                                            if (file) {\n" +
                "                                                img.src = URL.createObjectURL(file);\n" +
                "                                            }\n" +
                "                                        }";

            imgDiv.appendChild(scriptTag);

            container.appendChild(imgDiv);
            var editorDiv = document.createElement("div");
            editorDiv.id = "newBlockDescription" + i;
            document.querySelector("#newBlockDescriptionDiv"+i).appendChild(editorDiv);

            var quill = new Quill("#" + editorDiv.id, {
                theme: "snow"
            });
        }



    </script>
</th:block>
</html>