<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/fragments/layout}">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<th:block layout:fragment="content">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Table</h4>
                </div>
            </div>
            <div class="card-body">
                <div style="display: flex; justify-content: right">
                    <button type="button" class="btn btn-light" style="height: 40px" th:text="#{table.clear}"></button>
                </div>
                <table class="table table-striped table-hover table-bordered" style="margin-top: 15px; max-width: 100%">
                    <thead>
                    <tr>
                        <th th:text="#{users.table.id}"></th>
                        <th th:text="#{users.table.full.name}"></th>
                        <th th:text="#{users.table.number}"></th>
                        <th th:text="#{users.table.email}"></th>
                        <th th:text="#{users.table.house}"> </th>
                        <th th:text="#{users.table.apartment}"></th>
                        <th th:text="#{users.table.add}"></th>
                        <th th:text="#{users.table.status}"></th>
                        <th th:text="#{users.table.duty}"></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input class="form-control" type="text" name="id">
                        </td>
                        <td>
                            <input class="form-control" type="text" name="fullName">
                        </td>
                        <td>
                            <input class="form-control" type="text" name="number">
                        </td>
                        <td><input class="form-control" type="text" name="email"></td>
                        <td><select class="mb-1 form-select form-select" aria-label=".form-select-lg example" name="house" >
                            <option selected=""></option>
                            <option th:each="house:${houseList}" th:text="${house.name()}"></option>
                        </select></td>

                        <td>
                            <input class="form-control" type="text" name="apartmentNumber">
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-text" id="datePicker">
                                    <svg class="icon-24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                                    </svg>
                                </span>
                                <input class="form-control date_flatpicker" type="text"  data-id="range" readonly="readonly" name="addDate" aria-describedby="datePicker">

                            </div>
                        </td>
                        <td>
                            <select class="mb-1 form-select form-select" aria-label=".form-select-lg example" name="status">
                                <option selected=""></option>
                                <option th:each="status:${T(lab.space.my_house_24.enums.UserStatus).values()}" th:text="${status.getValue()}"  th:value="${status.name()}"></option>
                            </select>
                        </td>
                        <td>
                            <select class="mb-1 form-select form-select" aria-label=".form-select-lg example" name="duty">
                                <option selected=""></option>
                                <option th:text="#{users.table.duty.yes}" value="true"></option>
                                <option th:text="#{users.table.duty.no}" value="false"></option>
                            </select>
                        </td>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <div style="display: flex; justify-content: space-between">
                    <div th:text="#{table.show.info.Showing} + ' 1 ' + #{table.show.info.to} + ' 10 ' + #{table.show.info.of}+' 57 '+#{table.show.info.entries}">

                    </div>
                    <div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#"><</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
















</th:block>
<th:block layout:fragment="extra-modals">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Understood</button>
                </div>
            </div>
        </div>
    </div>

</th:block>
<th:block layout:fragment="extra-script">

</th:block>
</html>