<div class="position-relative iq-banner">
    <nav class="nav navbar navbar-expand-lg navbar-light iq-navbar">
        <div class="container-fluid navbar-inner">
            <a href="../../dashboard/index.html" class="navbar-brand">
                <!--Logo start-->
                <!--logo End-->

                <!--Logo start-->
                <div class="logo-main">
                    <div class="logo-normal">
                        <!--          <svg class="text-primary icon-30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">-->
                        <!--            <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2" transform="rotate(-45 -0.757324 19.2427)" fill="currentColor"></rect>-->
                        <!--            <rect x="7.72803" y="27.728" width="28" height="4" rx="2" transform="rotate(-45 7.72803 27.728)" fill="currentColor"></rect>-->
                        <!--            <rect x="10.5366" y="16.3945" width="16" height="4" rx="2" transform="rotate(45 10.5366 16.3945)" fill="currentColor"></rect>-->
                        <!--            <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2" transform="rotate(45 10.5562 -0.556152)" fill="currentColor"></rect>-->
                        <!--          </svg>-->
                        <img th:src="@{/assets/images/pages/logo.svg}" class="img-responsive" alt=""
                             style="width: 60%;">

                    </div>
                    <div class="logo-mini">
                        <!--          <svg class="text-primary icon-30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">-->
                        <!--            <rect x="-0.757324" y="19.2427" width="28" height="4" rx="2" transform="rotate(-45 -0.757324 19.2427)" fill="currentColor"></rect>-->
                        <!--            <rect x="7.72803" y="27.728" width="28" height="4" rx="2" transform="rotate(-45 7.72803 27.728)" fill="currentColor"></rect>-->
                        <!--            <rect x="10.5366" y="16.3945" width="16" height="4" rx="2" transform="rotate(45 10.5366 16.3945)" fill="currentColor"></rect>-->
                        <!--            <rect x="10.5562" y="-0.556152" width="28" height="4" rx="2" transform="rotate(45 10.5562 -0.556152)" fill="currentColor"></rect>-->
                        <!--          </svg>-->
                        <img th:src="@{/assets/images/pages/logo-mini.svg}" class="img-responsive" alt=""
                             style="width: 60%;">

                    </div>
                </div>
                <!--logo End-->


                <h4 class="logo-title">Hope UI</h4>
            </a>
            <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
                <i class="icon">
                    <svg width="20px" class="icon-20" viewBox="0 0 24 24">
                        <path fill="currentColor"
                              d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
                    </svg>
                </i>
            </div>
            <div class="input-group search-input">
                <h3 th:text="#{header.title}"></h3>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon">
                  <span class="mt-2 navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="mb-2 navbar-nav ms-auto align-items-center navbar-list mb-lg-0">
                    <li class="nav-item dropdown">
                        <a href="#" class="search-toggle nav-link" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img th:src="@{/assets/images/Flag/flag001.png}" class="img-fluid rounded-circle" alt="user"
                                 style="height: 30px; min-width: 30px; width: 30px;" id="langImg">
                            <span class="bg-primary"></span>
                        </a>
                        <div class="p-0 sub-drop dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
                            <div class="m-0 border-0 shadow-none card">
                                <div class="p-0 ">
                                    <ul class="p-0 list-group list-group-flush">
                                        <li class="iq-sub-card list-group-item" onclick="changeLang('uk')"><a
                                                class="p-0" href="#"><img th:src="@{/assets/images/Flag/flag-02.png}"
                                                                          alt="img-flaf" class="img-fluid me-2"
                                                                          style="width: 15px;height: 15px;min-width: 15px;">UA</a>
                                        </li>
                                        <li class="iq-sub-card list-group-item" onclick="changeLang('en')"><a
                                                class="p-0" href="#"><img th:src="@{/assets/images/Flag/flag-01.png}"
                                                                          alt="img-flaf" class="img-fluid me-2"
                                                                          style="width: 15px;height: 15px;min-width: 15px;">EN</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" id="mail-drop" data-bs-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" height="2em" viewBox="0 0 384 512" fill="gray">
                                <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path d="M256 64A64 64 0 1 0 128 64a64 64 0 1 0 128 0zM152.9 169.3c-23.7-8.4-44.5-24.3-58.8-45.8L74.6 94.2C64.8 79.5 45 75.6 30.2 85.4s-18.7 29.7-8.9 44.4L40.9 159c18.1 27.1 42.8 48.4 71.1 62.4V480c0 17.7 14.3 32 32 32s32-14.3 32-32V384h32v96c0 17.7 14.3 32 32 32s32-14.3 32-32V221.6c29.1-14.2 54.4-36.2 72.7-64.2l18.2-27.9c9.6-14.8 5.4-34.6-9.4-44.3s-34.6-5.5-44.3 9.4L291 122.4c-21.8 33.4-58.9 53.6-98.8 53.6c-12.6 0-24.9-2-36.6-5.8c-.9-.3-1.8-.7-2.7-.9z"/>
                            </svg>
                            <span class="bg-primary count-mail"></span>
                        </a>
                        <div class="p-0 sub-drop dropdown-menu dropdown-menu-end" aria-labelledby="mail-drop">
                            <div class="m-0 shadow-none card">
                                <div class="py-3 card-header d-flex justify-content-between bg-primary">
                                    <div class="header-title">
                                        <h5 class="mb-0 text-white">All Message</h5>
                                    </div>
                                </div>
                                <div class="p-0 card-body ">
                                    <a href="#" class="iq-sub-card">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img class="p-1 avatar-40 rounded-pill bg-soft-primary"
                                                     th:src="@{/assets/images/shapes/01.png}" alt="">
                                            </div>
                                            <div class="ms-3">
                                                <h6 class="mb-0 ">Bni Emma Watson</h6>
                                                <small class="float-start font-size-12">13 Jun</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="iq-sub-card">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img class="p-1 avatar-40 rounded-pill bg-soft-primary"
                                                     th:src="@{/assets/images/shapes/02.png}" alt="">
                                            </div>
                                            <div class="ms-3">
                                                <h6 class="mb-0 ">Lorem Ipsum Watson</h6>
                                                <small class="float-start font-size-12">20 Apr</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="iq-sub-card">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img class="p-1 avatar-40 rounded-pill bg-soft-primary"
                                                     th:src="@{/assets/images/shapes/03.png}" alt="">
                                            </div>
                                            <div class="ms-3">
                                                <h6 class="mb-0 ">Why do we use it?</h6>
                                                <small class="float-start font-size-12">30 Jun</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="iq-sub-card">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img class="p-1 avatar-40 rounded-pill bg-soft-primary"
                                                     th:src="@{/assets/images/shapes/04.png}" alt="">
                                            </div>
                                            <div class="ms-3">
                                                <h6 class="mb-0 ">Variations Passages</h6>
                                                <small class="float-start font-size-12">12 Sep</small>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="iq-sub-card">
                                        <div class="d-flex align-items-center">
                                            <div class="">
                                                <img class="p-1 avatar-40 rounded-pill bg-soft-primary"
                                                     th:src="@{/assets/images/shapes/05.png}" alt="">
                                            </div>
                                            <div class="ms-3">
                                                <h6 class="mb-0 ">Lorem Ipsum generators</h6>
                                                <small class="float-start font-size-12">5 Dec</small>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="py-0 nav-link d-flex align-items-center" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img th:src="@{/assets/images/avatars/01.png}" alt="User-Profile"
                                 class="theme-color-default-img img-fluid avatar avatar-50 avatar-rounded">
                            <img th:src="@{/assets/images/avatars/avtar_1.png}" alt="User-Profile"
                                 class="theme-color-purple-img img-fluid avatar avatar-50 avatar-rounded">
                            <img th:src="@{/assets/images/avatars/avtar_2.png}" alt="User-Profile"
                                 class="theme-color-blue-img img-fluid avatar avatar-50 avatar-rounded">
                            <img th:src="@{/assets/images/avatars/avtar_4.png}" alt="User-Profile"
                                 class="theme-color-green-img img-fluid avatar avatar-50 avatar-rounded">
                            <img th:src="@{/assets/images/avatars/avtar_5.png}" alt="User-Profile"
                                 class="theme-color-yellow-img img-fluid avatar avatar-50 avatar-rounded">
                            <img th:src="@{/assets/images/avatars/avtar_3.png}" alt="User-Profile"
                                 class="theme-color-pink-img img-fluid avatar avatar-50 avatar-rounded">
                            <div class="caption ms-3 d-none d-md-block ">
                                <h6 class="mb-0 caption-title">Austin Robertson</h6>
                                <p class="mb-0 caption-sub-title">Marketing Administrator</p>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="../../dashboard/app/user-profile.html">Profile</a></li>
                            <li><a class="dropdown-item" href="../../dashboard/app/user-privacy-setting.html">Privacy
                                Setting</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmLogOut">
                                    Logout
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="iq-navbar-header" style="height: 70px;">
        <div class="container-fluid iq-container">
            <div class="row">
            </div>
        </div>

    </div>
</div>