<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE" th:text="#{layout.title}"></title>
    <th:block th:replace="~{/admin/fragments/style}"></th:block>
    <th:block layout:fragment="extra-style"></th:block>
</head>

<body class="  ">
<div class="preloader">
    <svg class="preloader__image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path fill="currentColor"
              d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
        </path>
    </svg>
</div>
<th:block th:replace="~{/admin/fragments/left-sidebar}"></th:block>

<main class="main-content">

    <th:block th:replace="~{/admin/fragments/toast}"></th:block>
    <th:block th:replace="~{/admin/fragments/header}"></th:block>


    <div class="conatiner-fluid content-inner mt-n5 py-0">
        <div class="row">
            <th:block layout:fragment="content"></th:block>
        </div>
    </div>
    <th:block layout:fragment="extra-alert"></th:block>

    <th:block th:replace="~{/admin/fragments/footer}"></th:block>

    <th:block th:replace="~{/admin/fragments/logout-modal}"></th:block>


    <th:block layout:fragment="extra-modals"></th:block>
</main>





<th:block th:replace="~{/admin/fragments/script}"></th:block>


<th:block layout:fragment="extra-script"></th:block>

</body>
</html>

