<!-- Library Bundle Script -->
<script th:src="@{/assets/js/core/libs.min.js}"></script>

<!-- External Library Bundle Script -->
<script th:src="@{/assets/js/core/external.min.js}"></script>

<!-- Widgetchart Script -->
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>

<!-- mapchart Script -->
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>
<script th:src="@{/assets/js/charts/dashboard.js}" ></script>

<!-- fslightbox Script -->
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>

<!-- Settings Script -->
<script th:src="@{/assets/js/plugins/setting.js}"></script>

<!-- Slider-tab Script -->
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>

<!-- Form Wizard Script -->
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>

<!-- AOS Animation Plugin-->
<script th:src="@{/assets/vendor/aos/dist/aos.js}"></script>

<!-- App Script -->
<script th:src="@{/assets/js/hope-ui.js}" defer></script>

<!-- Flatpickr Script -->
<script th:src="@{/assets/vendor/flatpickr/dist/flatpickr.min.js}"></script>
<script th:src="@{/assets/js/plugins/flatpickr.js}" defer></script>

<script th:src="@{/assets/js/plugins/prism.mini.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>
<script>
    function changeLogo(){
        const logoImg = document.getElementById('logoImg');

        const  imageUrl = logoImg.src;

        const pathParts = imageUrl.split('/');


        const imageName = pathParts[pathParts.length - 1];

        if (imageName === 'logo-mini.svg'){
            logoImg.src = '/admin/assets/images/pages/logo.svg';
        }
        else if (imageName === 'logo.svg'){
            logoImg.src = '/admin/assets/images/pages/logo-mini.svg';
        }

    }

</script>















