<!-- Library Bundle Script -->
<script th:src="@{/assets/js/core/libs.min.js}"></script>

<!-- External Library Bundle Script -->
<script th:src="@{/assets/js/core/external.min.js}"></script>

<!-- Widgetchart Script -->
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>

<!-- mapchart Script -->
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>

<script th:src="@{/assets/js/charts/dashboard.js}"></script>

<!-- fslightbox Script -->
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>

<!-- Settings Script -->
<script th:src="@{/assets/js/plugins/setting.js}"></script>

<!-- Slider-tab Script -->
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>

<!-- Form Wizard Script -->
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>

<!-- AOS Animation Plugin-->
<script th:src="@{/assets/vendor/aos/dist/aos.js}"></script>

<!-- App Script -->
<script th:src="@{/assets/js/hope-ui.js}" defer></script>

<!-- Flatpickr Script -->
<script th:src="@{/assets/vendor/flatpickr/dist/flatpickr.min.js}"></script>

<script th:src="@{/assets/js/plugins/flatpickr.js}" defer></script>

<script th:src="@{/assets/js/select2/select2.full.min.js}"></script>

<script th:src="@{/assets/js/select2/uk.js}"></script>

<script th:src="@{/assets/js/quil/quil.js}"></script>

<script th:src="@{/assets/js/quil/quill-image-resize.js}"></script>

<script th:src="@{/assets/js/flatpickr/flatpickr.js}"></script>

<script th:src="@{/assets/js/plugins/prism.mini.js}"></script>


<script>

    const targetElement = document.getElementById('sidebar');
    const logoImg = document.getElementById('logoImg');

    const observer = new MutationObserver((mutationsList) => {

        for (const mutation of mutationsList) {

            if (mutation.type === 'attributes' && mutation.attributeName === 'class') {

                const newClass = targetElement.className;
                console.log(newClass.indexOf('sidebar-mini'));
                if (newClass.indexOf('sidebar-mini') === 68 || newClass.indexOf('sidebar-mini') === 78){
                    logoImg.src = '/admin/assets/images/pages/logo-mini.svg';
                }
                else if (newClass.indexOf('sidebar-mini') === -1){
                    logoImg.src = '/admin/assets/images/pages/logo.svg';
                }

            }
        }
    });

    const config = { attributes: true };

    observer.observe(targetElement, config);


</script>
<script>


    function getCurrentURLWithoutParams() {

        var currentURL = window.location.href;
        if (currentURL.indexOf('?') === -1) {
            return currentURL;
        }
        return currentURL.split('?')[0];
    }

    function changeLang(lang) {
        var urlWithoutParams = getCurrentURLWithoutParams();
        var newURL = urlWithoutParams + '?lang=' + lang;
        window.location.replace(newURL);
    }

    function getLocale(){


        $.ajax({
            url: "/admin/get-locale"
        })
            .done(function (response){
                const container = document.getElementById("langDiv");
                const newImg = document.createElement("img");
                newImg.classList.add("img-fluid");
                newImg.classList.add("rounded-circle");
                newImg.style.height = "30px";
                newImg.style.width = "30px";
                newImg.style.minWidth = "30px";
                newImg.alt="lang";
                newImg.id = "langImg"
                if (response === 'en') {
                    newImg.src = '/admin/assets/images/Flag/flag001.png';
                } else if (response === 'uk') {
                    newImg.src  = '/admin/assets/images/Flag/flag002.png';
                }
                container.appendChild(newImg);
            });
    }
    getLocale();


    const toastSuccess = bootstrap.Toast.getOrCreateInstance(document.getElementById('successUpdateRole'));
    const toastError = bootstrap.Toast.getOrCreateInstance(document.getElementById('errorUpdateRole'));

    function showToast(toast) {
        switch (toast) {
            case "success":
                toastSuccess.show();
                break;
            case "error":
                toastError.show();
                break;
            default:
                console.log("Unknown Toast");
        }
    }
    function passwordVisibility() {
        var getPassword = document.getElementById("password");
        var confirmPassword = document.getElementById("confirmPassword");
        if (getPassword.type === "password") {
            getPassword.type = "text";
            confirmPassword.type = "text";
        } else {
            getPassword.type = "password";
            confirmPassword.type = "password";
        }
    }

    function generatePassword() {
        var chars = "0123456789abcdefghijklmnopqrstuvwxyz!@#$`~%^&*(*)ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        var passwordLength = 11;
        var password = "";

        for (var i = 0; i <= passwordLength; i++) {
            var randomNumber = Math.floor(Math.random() * chars.length);
            password += chars.substring(randomNumber, randomNumber + 1);
        }
        document.getElementById("password").value = password;
        document.getElementById("confirmPassword").value = password;

    }

    function validResponse(divId, message, afterDiv) {

        $(divId).addClass('is-invalid');
        if (afterDiv) {
            $(divId).parents(afterDiv).append('<div class="invalid-feedback">' + message + '</div>');
        } else {
            $(divId).after('<div class="invalid-feedback">' + message + '</div>');
        }
    }

    function clearValidMessages() {
        $('.is-invalid').removeClass('is-invalid');
        $('.invalid-feedback').remove();
    }


    function addBadgeUserStatus(status){

        let badgeClasses = 'badge rounded-pill';
        let badgeText = status?.value;


        if (status?.name === 'ACTIVE') badgeClasses += ' bg-success';
        if (status?.name === 'NEW') badgeClasses += ' bg-warning';
        if (status?.name === 'DISABLED') badgeClasses += ' bg-danger';

        let badge = '<span class="' + badgeClasses + '">' + badgeText + '</span>';
        return badge;
    }

    function handleScreenWidthChange() {
        const screenWidth = window.innerWidth;
        if (screenWidth<1200){
            const sidebar = document.getElementById("sidebar");
            sidebar.classList.add("sidebar-mini");
        }
    }
    window.addEventListener("resize", handleScreenWidthChange);
    handleScreenWidthChange();


</script>















