<!-- Library Bundle Script -->
<script th:src="@{/assets/js/core/libs.min.js}"></script>

<!-- External Library Bundle Script -->
<script th:src="@{/assets/js/core/external.min.js}"></script>

<!-- Widgetchart Script -->
<script th:src="@{/assets/js/charts/widgetcharts.js}"></script>

<!-- mapchart Script -->
<script th:src="@{/assets/js/charts/vectore-chart.js}"></script>
<script th:src="@{/assets/js/charts/dashboard.js}"></script>

<!-- fslightbox Script -->
<script th:src="@{/assets/js/plugins/fslightbox.js}"></script>

<!-- Settings Script -->
<script th:src="@{/assets/js/plugins/setting.js}"></script>

<!-- Slider-tab Script -->
<script th:src="@{/assets/js/plugins/slider-tabs.js}"></script>

<!-- Form Wizard Script -->
<script th:src="@{/assets/js/plugins/form-wizard.js}"></script>

<!-- AOS Animation Plugin-->
<script th:src="@{/assets/vendor/aos/dist/aos.js}"></script>

<!-- App Script -->
<script th:src="@{/assets/js/hope-ui.js}" defer></script>

<!-- Flatpickr Script -->
<script th:src="@{/assets/vendor/flatpickr/dist/flatpickr.min.js}"></script>
<script th:src="@{/assets/js/plugins/flatpickr.js}" defer></script>

<script th:src="@{/assets/js/plugins/prism.mini.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>
<script>

    const targetElement = document.getElementById('sidebar');
    const logoImg = document.getElementById('logoImg');

    const observer = new MutationObserver((mutationsList) => {

        for (const mutation of mutationsList) {

            if (mutation.type === 'attributes' && mutation.attributeName === 'class') {

                const newClass = targetElement.className;
                console.log(newClass.indexOf('sidebar-mini'));
                if (newClass.indexOf('sidebar-mini') === 68 || newClass.indexOf('sidebar-mini') === 78){
                    logoImg.src = '/admin/assets/images/pages/logo-mini.svg';
                }
                else if (newClass.indexOf('sidebar-mini') === -1){
                    logoImg.src = '/admin/assets/images/pages/logo.svg';
                }

            }
        }
    });

    const config = { attributes: true };

    observer.observe(targetElement, config);



</script>
<script>


    function getCurrentURLWithoutParams() {

        var currentURL = window.location.href;
        if (currentURL.indexOf('?') === -1) {
            return currentURL;
        }
        return currentURL.split('?')[0];
    }

    function changeLang(lang) {
        localStorage.setItem("lang", lang);
        var urlWithoutParams = getCurrentURLWithoutParams();
        var newURL = urlWithoutParams + '?lang=' + lang;
        window.location.replace(newURL);
    }

    function changeLogoLang() {
        var lang = localStorage.getItem("lang");

        const logoImg = document.getElementById('langImg');

        if (lang === 'en') {
            logoImg.src = '/admin/assets/images/Flag/flag001.png';
        } else if (lang === 'uk') {
            logoImg.src = '/admin/assets/images/Flag/flag002.png';
        }
    }



    changeLogoLang();


    const toastSuccess = bootstrap.Toast.getOrCreateInstance(document.getElementById('successUpdateRole'));
    const toastError = bootstrap.Toast.getOrCreateInstance(document.getElementById('errorUpdateRole'));

    function showToast(toast) {
        switch (toast) {
            case "success":
                toastSuccess.show();
                break;
            case "error":
                toastError.show();
                break;
            default:
                console.log("Unknown Toast");
        }
    }

    function clearErrorMessages() {
        $('.is-invalid').removeClass('is-invalid');
        $('.invalid-feedback').remove();
    }

</script>















